{# src/Acme/DemoBundle/Resources/views/Form/fields.html.twig #}
{% extends 'bootstrap_3_layout.html.twig' %}

{% block choice_widget_collapsed -%}
    {{- parent() -}}
    {% if desc is defined%}
        <span data-tooltip="{{ desc }}" class="has-tooltip fa-question" style="z-index:200; padding
        -left:50px;"></span>
    {% endif %}
{%- endblock choice_widget_collapsed %}