#Layout_tool,#Layout_multidrop{height:35%;}
#Layout_banner,#Layout_panel{ height:60.8%;}
#Layout_signin {float:right;min-width:230px;height:100%; }
#Layout_breadcrumb { margin-left:10px; height:100%;display:table;overflow:hidden;}
#Layout_breadcrumb div { display:table-cell; vertical-align:middle;}
#Layout_banner div {left:62%;position:relative;top:38%;}
#Layout_banner div p {
 color: white;
 font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
 font-size:2em;
 font-weight:bold;	
 }

#Layout_panel { border:1px solid transparent; background-color:#25517F; }
#Layout_multidrop {border:1px solid green;}
#Layout_signin {background-color:white;}
#Layout_banner{background:#04369D url(/img/tmp_banner.jpg) no-repeat scroll 0 0}

div.ulg_footer{
position:relative; 
height:107px;
width:115px;
right:-60px;
bottom:10px;
background:transparent url(/img/tmp_ulg_tr32_34.png) no-repeat scroll 0 0;
float:right;
}