{% extends
'::base.html.twig' %} {% block main_content %}
<div class="col-md-8">{% block mainbar %}{% endblock mainbar%}</div>
<aside>
	<div class="col-md-4">{% block sidebar %}{% endblock sidebar%}</div>
</aside>
{% endblock main_content%}
