{% macro errors(element,errors) %}
    {% if errors is defined %}
        {% if errors|length > 0 %}
            <span class="help-block">
            <ul class="list-unstyled">
                {% if errors[element] is defined %}
                    <li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ errors[element] }}</li>
                {% endif %}
            </ul>
        {% endif %}
    {% endif %}
{% endmacro %}