<fieldset id="causeofdeath_values" class="no-multi only-dead">
    <fieldset>
        <legend><h3>Cause of death: preliminary assessment</h3></legend>
        <div class="form-inline">{% for sv in form.eseSeqno.spec2events.causeOfDeathValues|slice(0, 6) %}
                {{ form_row(sv.value, {'label':sv.vars.value.pmdName|split('::')|last, 'attr':{'class':'form-inline'}}) }}
            {% endfor %}</div>
    </fieldset>
    {# {% if form.eseSeqno.spec2events.bycatchProbabilityValues|length > 5%}#}
    <fieldset id="bycatch">
        <legend><h3>Bycatch probability</h3></legend>
        <div class="form-inline">{% for sv in form.eseSeqno.spec2events.bycatchProbabilityValues|slice(0, 4) %}
                {{ form_row(sv.value, {'label':sv.vars.value.pmdName|split('::')|last, 'attr':{'class':'form-inline'}}) }}
            {% endfor %}</div>
    </fieldset>
    {#{% endif %}#}

    <fieldset id="bycatch">
        <legend><h3>Autopsy</h3></legend>
        <div class="form-inline">{{ form_row(form.autopsyRef, {'label':'Autopsy reference'}) }}</div>
        <div class="form-inline"> {{ form_row(form.autopsyIndicator, {'label':'Autopsy performed?'}) }}</div>
    </fieldset>
</fieldset>