<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">What to do with stranded marine mammals?</h2>
        <p></p>
        <a class="btn btn-standard" href="/static-file/strandingen_2013.pdf"><i class="fa fa-download"></i>Check out our brochure</a>
    </div>
    <div class="panel-body">

        <p>If you observe a stranded seal or dolphin, or a group of them, you should do the following:</p>

        <h3>Found a helpless living seal (harbour seal, common seal) on the beach?</h3>
        <ul>

            <li>Call <a href="https://www.visitsealife.com/blankenberge/">SeaLife Blankenberge<i
                            class="fa fa-external-link pull-right"></i></a> on <a href="tel:050/42 43 00">050/42 43
                    00</a></li>
            <li>Call local police or fire brigade</li>
        </ul>

        <h3>Found a dead or helpless dolphin or porpoise on the beach?</h3>
        <ul>
            <li>Call RBINS/OD Nature in Ostend on <a href="tel:059/70 01 31">059/70 01 31</a> or mail on <a
                        target="_blank"
                        class="new-window"
                        href="mailto:marinemammals@naturalsciences.be">marinemammals@naturalsciences.be</a>
            </li>
            <li>Call local police or fire brigade</li>
            <li>For transporting small sea mammals (seals, porpoises and small dolphins), the OD Nature has
                special equipment standby.
            </li>
        </ul>
        <h3>Found a large cetacean on the beach?</h3>
        <ul>
            <li>Call the <a
                        href="http://www.scheepvaartbegeleiding.be/index.php?option=com_content&view=article&id=49&Itemid=56&lang=nl">Maritime
                    Rescue and Coordination Centre (MRCC)<i
                            class="fa fa-external-link pull-right"></i></a> in Ostend on <a href="tel:059/255 440">059/255
                    440</a></li>

            <li>Call RBINS on <a href="tel:059/70 01 31">059/70 01 31</a> or mail on <a target="_blank"
                                                                                        class="new-window"
                                                                                        href="mailto:marinemammals@naturalsciences.be">marinemammals@naturalsciences.be</a>
            </li>
            <li>Call local police or fire brigade</li>
            <li>Contact the <a href="http://www.mil.be/nl/eenheden/maritiem-informatiekruispunt">Maritiem
                    Informatiekruispunt (MIK)<i class="fa fa-external-link pull-right"></i></a></li>
        </ul>
        <p>Observations of live marine mammals and strandings of turtles can be reported to OD Nature: <a target="_blank" class="new-window" href="mailto:marinemammals@naturalsciences.be">marinemammals@naturalsciences.be</a>.
        </p>
        <p>A seal on the beach does not necessarily need assistance. Healthy animals look for a place to rest in the daytime. Common seals are born on sand banks or beaches. If you see a clearly healthy seal, the first thing is to make sure that you do not disturb the animal. Observe it from a distance.

            During the summer months, young and weak common seals may be washed ashore along the Belgian coast. Without human intervention, these animals would not survive. A small seal in distress looks thin and lifeless. It can be approached relatively easily. In a situation like this, follow these rules:
            <ul>
            <li>Do not cause any unnecessary stress. Allow the animal to come ashore and make sure members of the public keep their distance;</li>
            <li>Do not touch the animal. It may bite and transmit germs to humans;</li>
            <li>Inform Sea Life Blankenberge.</li></ul>
        </p>
    </div>
</div>
