    <h2>List of platforms</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>name</th>
            <th>type</th>
        </tr>
        </thead>
        {% for p in entity1List %}
            <tr>
                <td>{{p.name}}</td>
                <td>{{p.pfmType}}</td>
            </tr>
        {% else %}
            <tr>
                <td>No platforms found.</td>
            </tr>
        {% endfor %}
    </table>