    <h2>List of taxa</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Species</th>
            <th>Vernacular name</th>
            <th>Idod id</th>
        </tr>
        </thead>
        {% for taxon in entity1List %}
            <tr>
                <td>{{taxon.canonicalName}}</td>
                <td>{{taxon.vernacularNameEn}}</td>
                <td>{{taxon.idodId}}</td>
            </tr>
        {% else %}
            <tr>
                <td>No taxa found.</td>
            </tr>
        {% endfor %}
    </table>