    <h2>List of sources</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>name</th>
            <th>type</th>
        </tr>
        </thead>
        {% for s in entity1List %}
            <tr>
                <td>{{s.name}}</td>
                <td>{{s.type}}</td>
            </tr>
        {% else %}
            <tr>
                <td>No sources found.</td>
            </tr>
        {% endfor %}
    </table>