    <h2>List of persons</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>first name</th>
            <th>last name</th>
            <th>email</th>
        </tr>
        </thead>
        {% for person in entity1List %}
            <tr>
                <td>{{person.firstName}}</td>
                <td>{{person.lastName}}</td>
                <td>{{person.email}}</td>
            </tr>
        {% else %}
            <tr>
                <td>No persons found.</td>
            </tr>
        {% endfor %}
    </table>