    <h2>List of observations</h2>
    <table>
        <thead>
        <tr>
            <th>latitude</th>
            <th>longitude</th>
            <th>date and time</th>
            <th>specimen seqno</th>
        </tr>
        </thead>
        {% for o in observations %}
            <tr>
                <td>{{o.latDeg}}</td>
                <td>{{o.lonDeg}}</td>
                <td>{{o.eseSeqno.eventDatetime|date("m/d/Y")}}</td>
                <td>{{o.eseSeqno.spec2event.scnSeqno.txnSeqno.canonicalName}}</td>
            </tr>
        {% else %}
            <tr>
                <td>No observations found.</td>
            </tr>
        {% endfor %}
    </table>