{% extends 'bare.html.twig' %}
{% block container %}

<div class="container">
    <header>
        <div class="top-links">
            <a href="http://www.naturalsciences.be/">museum</a><span class="sep">&#187;</span>
            <a href="http://www.naturalsciences.be/en/science/home">science</a><span
                    class="sep">&#187;</span> <a
                    href="http://www.naturalsciences.be/en/science/do/98">od nature</a><span
                    class="sep">&#187;</span> <a href="http://www.odnature.be/">scientific
                web sites and applications</a>
        </div>
        <div class="top-links">
            {% if not app.user %}
                <a href="/login" class="navbar-pseudo-btn-link text-info">Login</a>
            {% endif %}
            {% if app.user %}
                <span>Logged in as {{ app.user.username }}</span>
                <a href="/logout" class="navbar-pseudo-btn-link">Logout</a>
            {% endif %}
        </div>
        <div class="branding-main">
            <div class="branding-logo">
                <img src="http://www.odnature.be/assets/nav/logos/museum.png" alt="logo"/>
            </div>
            <div class="branding-text">
					<span class="institution">Royal Belgian Institute of Natural
						Sciences</span>

                <p class="directorate">
                    Operational Directorate Natural Environment<br/> <span
                            class="swap-branding">scientific web sites and applications</span>
                </p>
            </div>
        </div>
        <div class="branding-main branding-right">
            <div class="branding-logo">
                <img src="/images/logo_ulg.gif" alt="logo"/>
            </div>
            <div class="branding-text">
					<span class="institution">Université de Liège</span>

                <p class="directorate">
                    Faculté de Médecine Vétérinaire<br/>
                </p>
            </div>
        </div>
        <div class="navmenu">
            <nav class="navbar navbar-default" role="navigation">
                {% block navigation %}
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#navbar-collapse">
                            <span class="sr-only">Toggle navigation</span> <span
                                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                                    class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Marine Mammals &#187;</a>
                    </div>

                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">About<span
                                            class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/observations/about">Marine mammals in Belgium</a></li>
                                    <li><a href="/necropsies/about">Necropsies</a></li>
                                    <li><a href="/samples/about">Biobank</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">Browse data<span
                                            class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/observations">Strandings and observations</a></li>
                                    {% if app.user and is_granted('ROLE_USER') %}
                                        {#<li><a href="/samples/biobank">Biobank</a></li>#}
                                    {% endif %}
                                </ul>
                            </li>

                            {% if app.user and is_granted('ROLE_ADMIN') %}
                                <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">Management<span
                                                class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-header">Observations</li>
                                        <li><a href="/mgmt/observations">Browse</a></li>
                                        {% if app.user and is_granted('ROLE_OBSERVATION_MGR') %}
                                            <li><a href="/mgmt/observations/add">Create
                                                    new</a></li>
                                            {#<li><a href="/mgmt/observations/import">Batch
                                                    import</a></li>#}
                                        {% endif %}
                                        <li class="divider"></li>
                                        <li class="dropdown-header">Necropsies</li>
                                        {% if app.user and is_granted('ROLE_AUTOPSY_MGR') %}
                                            <li><a href="/mgmt/necropsies/add-edit">Create
                                                    new</a></li>
                                        {% endif %}

                                        <li class="divider"></li>
                                        <li class="dropdown-header">Manage lists</li>
                                        <li><a href="/mgmt/taxa/add">Species</a></li>
                                        <li><a href="/mgmt/stations/add">Locations</a></li>
                                        <li><a href="/mgmt/platforms/add">Platforms</a></li>
                                        <li><a href="/mgmt/persons/add">Persons</a></li>
                                        <li><a href="/mgmt/sources/add">Sources</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endblock %}
            </nav>
        </div>
        <div class="showcase hidden-print">
            <img src="{{ asset('images/head.jpg') }}" alt="photo banner"/>

            <div class="tagline">
                <span class="acronym">Belgian Marine Mammals</span>
            </div>
        </div>
        <div class="showcase-mobile">
            <span class="acronym">Belgian Marine Mammals</span>
        </div>
    </header>

    <div class="main-content">
        {% block main_content %}{% endblock %}
    </div>
</div>
{% endblock %}
{% block footer_container %}
<footer>
    {% block footer %}
        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <strong><a
                            href='/disclaimer'>Data disclaimer</a></strong><br/>
                    <strong>Marine Mammals &mdash; <span>RBINS-OD Nature/ULg-Faculty of Veterinary medicine</span></strong><br/> <span class="titles">Contributor(s):
						</span> <br/> <a href="mailto:jhaelters@naturalsciences.be">jhaelters@naturalsciences.be</a>
                    <br/> <a href="mailto:t.jauniaux@ulg.ac.be">t.jauniaux@ulg.ac.be</a>
                    <br/> <span class="titles">Designed and developed by: </span><br/>
                    <a href="http://www.odnature.be/bmdc">Belgian Marine Data Center</a><br/>
                </div>
                <div class="col-md-2">
                    <span class="titles">Social media: </span><br> <span class="subtitles">Follow <strong>RBINS</strong> on:</span><br>
                    <a href="http://www.facebook.com/pages/Museum-voor-Natuurwetenschappen-Mus%C3%A9um-des-Sciences-naturelles/62974540902"><i class="fa fa-facebook fa-lg"></i></a>
                    <a href="http://twitter.com/RBINSmuseum"><i class="fa fa-twitter fa-lg"></i></a>
                    <a href="http://plus.google.com/106005649553321310507"><i class="fa fa-google-plus fa-lg"></i></a>
                    <a href="http://pinterest.com/source/natuurwetenschappen.be"><i class="fa fa-pinterest fa-lg"></i></a>
                    <a href="http://www.youtube.com/user/Naturalsciences"><i class="fa fa-youtube fa-lg"></i></a><br>
                    <span class="subtitles">Follow <strong>ULg</strong> on:</span><br>
                    <a href="http://www.facebook.com/universitedeliege"><i class="fa fa-facebook fa-lg"></i></a>
                    <a href="http://www.twitter.com/UniversiteLiege"><i class="fa fa-twitter fa-lg"></i></a>
                    <a href="http://www.linkedin.com/company/university-of-liege"><i class="fa fa-linkedin fa-lg"></i></a>
                </div>
                <div class="col-md-4">
                    <p>
                        <span class="titles">Research at our institutes: </span><br> <span
                                class="subtitles">Scientific research at RBINS: </span><br> <span
                                class="sublinks"><a
                                    href='http://www.naturalsciences.be/en/science/directional--operations'>Research</a>,
								<a href='http://www.naturalsciences.be/en/science/collections'>Collections</a>,
								<a
                                        href='http://www.naturalsciences.be/en/science/scientific-support'>Scientific
                                    expertise</a>, <a
                                    href='http://www.naturalsciences.be/en/science/publications-home'>Publications</a>,
								<a
                                        href='http://www.naturalsciences.be/en/science/museum-library'>Library</a></span><br>
                        <span class="subtitles">Operational Directorates within RBINS: </span><br> <span
                                class="sublinks"><a
                                    href='http://www.naturalsciences.be/en/science/do/98'>Natural
                                Environment</a>, <a
                                    href='http://www.naturalsciences.be/en/science/do/94'>Earth
                                &amp; History of Life</a>, <a
                                    href='http://www.naturalsciences.be/en/science/do/97'>Taxonomy
                                &amp; Philogeny</a></span><br>
                        <span class="subtitles">Faculty of Veterinary medicine: </span><br> <span
                                class="sublinks"><a
                                    href='http://www.fmv.ulg.ac.be'>Faculty page</a>, <a
                                    href='http://www.fmv.ulg.ac.be/cms/c_267191/en/department-of-morphology-and-pathology-dmp'>Department of Morphology and Pathology</a></span>

                    </p>
                </div>
            </div>

            <div class="row copyright-row">
                <div class="col-md-12">
                    &copy; <a href="http://www.naturalsciences.be/">RBINS</a> {{ "now"|date("Y") }}
                    &#187; Operational Directorate Natural Environment
                </div>
            </div>
        </div>
    {% endblock %}
</footer>
<a href="#" class="scrollup">Scroll</a>
{% endblock %}
{% block javascripts %}
    {% javascripts
    'http://code.jquery.com/jquery-1.11.2.min.js'
    'http://code.jquery.com/ui/1.11.2/jquery-ui.js'
    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js'
    '@AppBundle/Resources/public/js/global.js'
    %}
    <script type="application/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}



