<!-- app/Resources/views/base.html.twig -->
<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta http-equiv="Content-Type" content="text/html" charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
        {% endblock %}
    {% endblock %}
</head>
<body>
{% block container %}
{% endblock %}
{% block footer_container %}
{% endblock %}
{% block javascripts %}
{% endblock %}

</body>
</html>



