@import "../Record.css";

select.organ
{
	width:110px;
}
table.samples thead, table.samples tfoot
{
background-color:#EBF2FF;
}

table.samples tbody span.UpdConsMode
{
	color:green;
	right:-0.6em;
}
table.samples tbody span.RegConsMode,table.samples tbody span.UpdConsMode
{
	width:40px;
	height:10px;
	font-size:0.7em;
	position:absolute;
	top:0.1em;
}
table.samples tbody span.RegConsMode
{
	left:-0.6em;
}

table.samples tbody span.ToChangeConsMode
{
	color:red;
}
table.samples tbody select.CsvModeBody, table.samples tbody select.SampleType 
{
	height:26px;
    width:80px;
	font-size:0.9em;
	/*position:absolute;*/
	/*bottom:-0.6em;*/
    margin-bottom:3px;
    display:block;
	
}

table.samples tbody div
{
	position:relative;
}

table.samples tbody span.UpdOrgan
{
	bottom:-0.6em;
	font-size:0.7em;
	height:10px;
	position:absolute;
	right:-0.6em;
	visibility:visible;
	width:40px;
	color:red;
}
table.samples tbody .SmplteToDelete
{
	border:1px solid red;
}
table.samples tbody td.SmplteToUpdate 
{
	border:1px solid #FFA200;
}
table.samples tbody td.RegSample
{
	background-color:#FFF5BF;
}
/*
table.samples div.maintd input,table.samples div.maintd select{
    display:block;
    width:97%;
    box-sizing: border-box; /* css3 rec */
   /* -moz-box-sizing: border-box; /* ff2 */
   /* -ms-box-sizing: border-box; /* ie8 */
    /*-webkit-box-sizing: border-box; /* safari3 */
    /*-khtml-box-sizing: border-box; /* konqueror */
/*}*/