#toc {
    top: 0px;
    left: 0px;
    height: 100%;
    position: fixed;
    background: #ECF3F4;
    box-shadow: 0px 0px 15px -6px rgba(0, 0, 0, 0.1) inset;
    width: 200px;
    padding-top: 5px;
    color: #fff;
}

#toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#toc li {
    padding: 0px 0px;
    /*line-height:10px;*/
}

#toc li {
    font-size:100%;
}

#toc a {
    color: #008697;
    text-decoration: none;
    display: block;
}

#toc .h3 {
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 10px;
}

#toc .h4 {
    padding-left: 20px;
}

#toc .toc-active {
    background: #336699;
    box-shadow: inset -5px 0px 10px -5px #000;
}