@charset "utf-8";
/* CSS Document */

div.autopsy {


width:75%;
text-align:justify;
float:left;
margin-bottom:20px;

}

div.autopsy p {
	
margin-top:15px;

}

div.autopsy h3 {
	
margin-top:20px;

}

div.autopsy h4 {
	
margin-top:20px;

}

div.autopsy a {
	
color:#6495ed;

}

div.autopsy  a:hover {


text-decoration:none;
color:#616161;

}

div.autopsy  h4{

text-decoration:underline;
margin-top:20px;

}
.box_left {

float:right;
width:180px;
margin-top:60px;

}

.pictures_box {

margin-bottom:20px;
height:110px;

}



.pictures_box img{


height:110px;

}

#large_picture {

height:200px;
float:left;
margin-top:30px;


}

#large_picture2 {

height:250px;
float:left;
width:800px;

}

.large_pictures_box {

float:left;
margin-right:20px;
margin-bottom:20px;
}

span.imgfocus {
 color:#6495ED;
font-weight:bold;
}
img
{
border:none;
}

