

h2 {padding-top:30px;} 

div.main_menus {padding:0;background:#96CBCA url('/legacy/img/tmp.png') top repeat-x;font-family:Verdana, sans-serif;height:40px;border-top:1px solid #12316a;
border-left:1px solid #12316a;border-bottom:1px solid #12316a;
}
 
div.main_menus ul {margin:0;padding:0;list-style:none;position:relative;text-align:center;overflow:hidden;margin-left:150px;}
 
div.main_menus ul li {float:left;list-style:none;margin:0;padding:0;position:relative;}

div.main_menus ul li a {display:block;margin:0;padding:20px 10px 6px 10px;
           text-decoration:none;color:white;font-size:.8em;font-weight:bold;text-transform:uppercase;line-height:1.3em;}
 
div.main_menus ul li a:hover {color:#00008c;background:#96CBCA url('/legacy/img/tmp_hover.png') top repeat-x;padding-top:18px;padding-bottom:8px;}
 
 div#banner {padding:0;background:#96CBCA url('/legacy/img/banner_tmp2-1-200.png') top repeat-x;width:100%;font-family:Verdana, sans-serif;height:200px;overflow:hidden;}
div#banner_transparency { height:100%;width:100%;}

div#banner_signin { float:right;margin-right:5px;background-color:transparent;height:65px; margin-top:120px;padding:5px;}

div#banner_signin div.formsection input.submit { cursor:pointer;background-color:transparent;border-color:#539BC4;font-weight:bold;}

form#signin_form{     overflow:hidden;width:300px;}
form#signin_form div.formsection {	float:left;width:100%;margin-bottom:0.3em;}
form#signin_form label {	float:left;width:25%; margin-top:.4em;color:#000;font-size:.8em; margin-left:20px;
             font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
color:#12316a;font-weight: bold;}

form#signin_form div.formsection input.submit { color:#12316a;}

div#banner_partner { float:left;margin-left:20px;margin-top:20px;}
div#banner_ulg {float:left;background:transparent url('/legacy/img/tmp_ulg_tr80.png') top no-repeat;height:80px;width:74px;margin-top:50px;margin-left:160px;}
div#banner_ugmm{width:107px;height:80px;background:transparent url('/legacy/img/MUMM-rgb.png') top no-repeat;margin-top:50px;margin-left:20px;}
div#banner div.title {font-family: "Century Schoolbook", Georgia, Times, serif;color: #12316a;position:absolute;top:50px;left:52%;}

div#Layout_navigation { padding-top:20px;}
div#Layout_navigation ul { padding:0;text-align:center;}
div#Layout_navigation ul li { width:100%;list-style:none;background-color:#6469A5;}
div#Layout_navigation ul li a { display:block;text-align:center;text-indent:none;outline:none;
           text-decoration:none;color:white;font-size:.8em;font-weight:bold;line-height:1.3em;text-transform:uppercase;margin: 1px 0;padding:5px 0;}
div#Layout_navigation ul li a:hover { color:#00008c;}
div#Layout_navigation ul li:hover {background:#96CBCA url('/legacy/img/tmp_hover.png') top repeat-x;border-left:1px solid #fff;color:#00008c;}
div#Layout_header div.main_menus ul.menus_default li.isclicked { background-color:white;} 
div#Layout_header div.main_menus ul.menus_default li.isclicked a{ color:#12316a;} 

div#Layout_navigation ul li a.clicked { background-color:white;color:#12316a;}
div#Layout_navigation ul { border-top:1px solid #1D3872;border-bottom:1px solid #1D3872;}

div#Layout_footer div.error { background-color:#F0F8FF;margin:3px 3px 0 150px;}
div#Layout_footer div.error p { color:red;font-size:16px;text-align:center;}
div#Layout_footer button.resetmessage { width:15px;height:15px;float:left;margin-left:15px;margin-top:5px;}