#Layout_content table.tab_output  p 
{
	text-align:center;
	margin-top:0px;
}

table.tab_output 
{
	margin-left:auto;
	margin-right:auto;
	width:100%;
	border-collapse:collapse;
	font-size:90%;
	border:1px solid #B8C3C9;
	font-family:tahoma,verdana, arial, sans-serif;
}
table.tab_output thead, tfoot 
{
background-color:#efefef;
}
table.tab_output thead th
{ 
	text-align:center;
}
table.tab_output tbody tr.isclicked
{
  background-color:#bef7ca;
}
table.tab_output tbody 
{
	background-color:#FFFFFF;
}
table.tab_output th 
{
	font-weight:normal;
}
table.tab_output tbody td.description_class 
{
   
       width:250px;
	padding:10px;
	text-align:left;
}
table.tab_output td,table.tab_output th 
{
	font-family:tahoma,Arial,Verdana,sans-serif;
	padding:6px;
	text-align:center;
	/*border:1px solid #6495ed;*/
}

table.tab_output td a,table.tab_output th a
{
	color:#6495ed;
}

table.tab_output td a:hover,table.tab_output th a:hover
{
	color:black;
	text-decoration:none;
}

table.tab_output caption 
{
	font-family:sans-serif;
}
table.tab_output th a.sort 
{ 
	text-decoration: underline;
	color:#6495ed;
}
table.tab_output th a.sort:hover 
{ 
	color:black;
	text-decoration: none;
}
div.Search 
{
	height:149px;
	overflow-y:auto;
	position:relative;
}
div.Search_search_tool 
{
	width:95%;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	padding-top:2px;
	border-bottom:1px solid #6495ed;
}
div.delSearch_Box 
{ 
	position:absolute;
	top:2px;
	right:2px;
}
span.ui_icon 
{
	background-image:url('/legacy/img/delete.png');
	overflow:hidden;
	text-indent:-99999px;
	height:16px;
	width:16px;
	
	background-repeat:no-repeat;
	display:block;
}
span.ui_icon:hover
{
	background-image:url('/legacy/img/deletehover.png');
}
div.Search_Box 
{ 
	float:left;
	overflow:hidden;
	width:450px;
	height:50px;
	border:1px solid #9F9F9F;
	position:relative;
	text-align:center; 
/*	background-color:#d1e1ff;*/
    background-color:#EFEFEF;
	margin:0.1em;
}

div.Search_Box .hasDatepick{
    height:2em;
}

div.Search_Box  div 
{
	float:left; 
	padding-bottom:10px;
	overflow:hidden;
}
div.Search_Box  div.filters
{ 
	width:150px;
}
div.Search_Box  div.tokens
{ 
	width:60px;
}
div.Search_Box  div.fields{ width:200px; }

div.Search_Box input {}

#Layout_content div.Search_Box div p
{ 
margin: 0.1em 0;
font-size: 12px;
font-family: Tahoma,Verdana,Arial,Sans-serif;
color: #0C1A5F;
text-align: center;
margin-top:0px;
}

div.Search_Box  select,div.Search_Box input
{ max-width:115px;
width:expression(document.body.clientWidth > (500/12) *parseInt(document.body.currentStyle.fontSize)?"115px":"auto" );
}

div.Search_Box div.tokens select { width:50px;}

div.clearleft { clear:left;}

div.search_tool { height:35px;overflow:hidden;background-color:white;padding-bottom:10px;}
div.search_tool a { float :right;}
div.search_tool span.add {
background-image:url('/legacy/img/Layout/filters.png');
height:30px;
width:125px;
background-repeat:no-repeat;
display:block;
overflow:hidden;
text-indent:-99999px;
margin-top:5px;
}
div.search_tool span.search {
background-image:url('/legacy/img/Layout/searchs.png');
height:30px;
width:110px;
background-repeat:no-repeat;
display:block;
overflow:hidden;
text-indent:-99999px;
margin-top:5px;
}
div#search_samples div.search_results {  margin-top:20px;}

/* TFOOTER*/


.board, .search { float:left;}
table.tab_output tfoot div.board { width:300px;width:50%;}
table.tab_output tfoot div.search { width:25%;text-align:left;padding-top:10px;}
table.tab_output tfoot div.navigation_bar { width:25%;float:left;text-align:right;padding-top:10px;}
table.tab_output tfoot div.navigation_bar a{ color:#6495ed;padding-top:8px;}
table.tab_output tfoot div.navigation_bar a:hover{ color:black;text-decoration:none;}

table.tab_output tr.even {
/*background-color:#d1e1ff;*/
background-color:#F5FBFF;
}
table.tab_output tr.odd { background-color:white;/*border:1px solid #d1e1ff;*/}

span.samplesnotselected { color:red;}
span.samplesselected { color:green;}
/*
table.tab_output tr.isclicked{background-color:transparent;}
table.tab_output tbody tr:hover {background-color:transparent; }
*/
table.tab_output img.sortleft
{
	float:left;
}

table.tab_output img.sortright
{
	float:right;
}