input:focus::-webkit-input-placeholder {
    color: transparent;
}
input:focus:-moz-placeholder {
    color: transparent;
}
/* FF 4-18 */
input:focus::-moz-placeholder {
    color: transparent;
}
/* FF 19+ */
input:focus:-ms-input-placeholder {
    color: transparent;
}
/* IE 10+ */

ul.formelements,ul.formelements ul{
    list-style-type:none;
}

div.main-content{
    margin-top:2em;
}

form textarea {
    width:50em !important;
    height:5em;
    resize:vertical;
    margin-bottom:1em;
}

form div.radio label{
    width: 120px;
    margin-right: 10px;
    text-align: right;
    float: left;
}

.glyphicon-ok:before{
    content:"\f00c";
}

.glyphicon-warning-sign:before{
    content:"\f071";
}

.glyphicon-exclamation-sign{
    content:"\f071";
}

.form-control-feedback{
    width:auto !important;
    height:auto !important;
    margin-right:20px;
}

form .control-label {
    width: 120px;
    margin-right: 10px;
    text-align: right;
    float: left;
}

form div.form-group,form li.form-inline {
    margin-bottom:5px !important;
}

form li.form-inline {
    list-style-type: none;
}

form .bordered-form-groups .form-group{
    border-bottom: 1px solid #c0c0c0 !important;
}

form input.form-control{
    width:20em;
}

form label + div {
    display: inline;
}

form legend {
    color: #008697;
}

form li.form-inline > div{
    display: inline !important;
}

table.table tbody td {
    padding: 8px;
    vertical-align: top;
}

label.required:before{
    content: "\f069";
    font-size:110%;
    color:#C9405B;
    display: inline-block;
    margin-right: 5px;
}

:required {
    border:1px solid orange !important;
}

.has-tooltip:before{
    content: "\f128";
    font-size:110%;
    color: #3c763d;
    display: inline-block;
    margin-left: 5px;
}

.has-clock-tooltip:before{
    content: "\f017";
    font-size:110%;
    color:#3c763d;
    display: inline-block;
    margin-left: 5px;
}

.has-map-tooltip:before{
    content: "\f041";
    font-size:110%;
    color:#3c763d;
    display: inline-block;
    margin-left: 5px;
}

.top-links{
    margin-bottom:3px;
}

ul.observation-remark {
    list-style-type: none;
}

ul.observation-remark span.warning{
    color:#C9405B;
}

ul.observation-remark span.warning:before{
    content: "\f12a";
    font-size:110%;
    color:#C9405B;
    display: inline-block;
    margin-right: 5px;
}

span.confidential-observation:before{
    color:#C9405B;
    content: "\f12a";
}

table.observation-view{
    width:550px;
}

table.observation-view > tbody > tr > td:first-child{
    font-weight: bold;
    width:150px;
    text-align: right;
}

table.observation-view > tbody > tr > td:last-child{
    width:400px;
    text-align: left;
}

div.observation-view-comments{
    display: inline-block;
    max-width:1000px;
}

blockquote{
    background-color: #DCE9EA;

}

/*
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('/fonts/glyphicons-halflings-regular.eot') !important;
    src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg') !important;
}
*/
