input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

/* FF 4-18 */
input:focus::-moz-placeholder {
    color: transparent;
}

/* FF 19+ */
input:focus:-ms-input-placeholder {
    color: transparent;
}

/* IE 10+ */

ul.formelements, ul.formelements ul {
    list-style-type: none;
}

div.main-content {
    margin-top: 2em;
}

form textarea {
    width: 50em !important;
    height: 5em;
    resize: vertical;
    margin-bottom: 1em;
}

form div.radio label {
    width: 120px;
    margin-right: 10px;
    text-align: right;
    float: left;
}

.glyphicon-ok:before {
    content: "\f00c";
}

.glyphicon-warning-sign:before {
    content: "\f071";
}

.glyphicon-exclamation-sign {
    content: "\f071";
}

.form-control-feedback {
    width: auto !important;
    height: auto !important;
    margin-right: 20px;
}

form .control-label {
    width: 120px;
    margin-right: 10px;
    text-align: right;
    float: left;
}

form div.form-group, form li.form-inline {
    margin-bottom: 5px !important;
}

form li.form-inline {
    list-style-type: none;
}

form .bordered-form-groups .form-group {
    border-bottom: 1px solid #c0c0c0 !important;
}

form input.form-control {
    width: 20em;
}

form label + div {
    display: inline;
}

form legend {
    color: #008697;
}

form li.form-inline > div {
    display: inline !important;
}

table.table tbody td {
    padding: 8px;
    vertical-align: top;
}

label.required:before {
    content: "\f069";
    font-size: 110%;
    color: #C9405B;
    display: inline-block;
    margin-right: 5px;
}

:required {
    border: 1px solid orange !important;
}

.has-tooltip:before {
    content: "\f128";
    font-size: 110%;
    color: #3c763d;
    display: inline-block;
    margin-left: 5px;
}

.has-clock-tooltip:before {
    content: "\f017";
    font-size: 110%;
    color: #3c763d;
    display: inline-block;
    margin-left: 5px;
}

.has-map-tooltip:before {
    content: "\f041";
    font-size: 110%;
    color: #3c763d;
    display: inline-block;
    margin-left: 5px;
}

.top-links {
    margin-bottom: 3px;
}

ul.observation-remark {
    list-style-type: none;
}

ul.observation-remark span.warning {
    color: #C9405B;
}

ul.observation-remark span.warning:before {
    content: "\f12a";
    font-size: 110%;
    color: #C9405B;
    display: inline-block;
    margin-right: 5px;
}

span.confidential-observation:before {
    color: #C9405B;
    content: "\f12a";
}

table.observation-view {
    width: 550px;
}

table.observation-view > tbody > tr > td:first-child {
    font-weight: bold;
    width: 150px;
    text-align: right;
}

table.observation-view > tbody > tr > td:last-child {
    width: 400px;
    text-align: left;
}

div.observation-view-comments {
    display: inline-block;
    max-width: 1000px;
}

blockquote {
    background-color: #DCE9EA;
}

.branding-main {
    width: 50%;
    float: left;
    display: inline;
}

.branding-main .branding-logo {
    width: 33%;
}

.branding-main .branding-text {
    padding: 0;
    width: auto;
    text-align: left;
}

.branding-logo img {
    padding: 0;
}

.branding-right .branding-text {
    float: right;
    text-align: right;
}

.branding-right {
    padding-right: 15px;
    width: 50%;
    float: right;
    display: inline;
}

.branding-right .branding-logo {
    float: right;
}

.top-links {
    padding-bottom: 6px;
}

table.table tbody tr td a {
    display: block;
    width: 100%;
    height: 100%;
}

table.simple-observationstable {
    cursor: pointer;
}

select#taxatype_taxonrank {
    width: auto;
}

/*Compatibility with OD Nature site*/
.scrollup {
    background: url('/images/icon_top.png') no-repeat;
}

#loading.fa-spinner {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    font-size: 200%;
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

/*.ui-widget-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #444;
    opacity: .3;
    filter: Alpha(Opacity=30);
}*/

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

a.initially-disabled {
    pointer-events: none;
}

#specimen-searcher #observationstable tbody tr {
    cursor: pointer;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #fafafa;
}

#specimen-searcher #observationstable tbody tr td:hover {
    background-color: transparent;
!important;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: transparent;
!important;
}

#specimen-searcher #observationstable tbody tr:hover {
    background-color: #31708f !important;
}

#specimen-searcher #observationstable tr.selected {
    background-color: #31708f !important;
}

ul.observation-map{
    margin: 0;
    padding: 0;
    float:right;
    list-style-type: none;
}

#map-canvas {
    height: 350px;
    width: 500px;
    margin: 0;
    padding: 0;
    float:right;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('');
    src: url('') format('embedded-opentype'), url('') format('woff'), url('') format('truetype'), url('') format('svg');
}

