{% extends
'AppBundle::col-layout.html.twig' %} {% block title %}Belgian Marine Mammal Tissue Bank{% endblock %}

{% block topbar %}
    <h1>Biobank: a marine mammal tissue collection</h1>
{% endblock %}
{% block mainbar %}

    <p><strong>The Belgian Marine Mammal Tissue Bank collects samples and manages sample exchange from marine mammals from Belgian and Northern French waters for research purposes.</strong></p>
    <p>        <div class="crop">
        <img src="/static-img/samples/P1030084.JPG"
             alt="Sample preparation"/>
    </div>The Belgian Marine Mammal Tissue Bank (BMMTB), is a marine tissue biobank that was set up in 1990. It originally contained tissue samples from marine mammals washed ashore and bycaught in Belgium. Through collaborations, since 1995, with stranding networks in neighbouring countries, tissue samples from animals that washed ashore in northern France and in The Netherlands were added. Similar collections exist in the United Kingdom, Ireland, Germany and Norway.</p>

    <p>The goal of the BMMTB is to provide high quality tissue samples of marine mammals (small and large cetaceans, as well as pinnipeds) for dedicated research purposes. This initiative, and similar initiatives in other countries, enables more efficient studies of regional and temporal variations in life history, ecology, toxicology and pathology of marine mammals. The catalogue of the BMMTB is stored in the marinemammals.be database and will be accessible on this page soon (in 2016). Samples will be made available for lending as well. For the time being, loan requests can be directed to <a target="_blank" class="new-window" href="mailto:marinemammals@naturalsciences.be">marinemammals@naturalsciences.be</a>.</p>

    <p>The tissues in the BMMTB were collected, fixed and stored according to protocols established by the European Cetacean Society (ECS); the earlier samples were collected, fixed and stored in a similar way. They are stored at the Royal Belgian Institute of Natural Sciences (RBINS) in Brussels and Ostend, and at the University of Liège, Department of Morphology and Pathology. The BMMTB is continuously fed with samples from animals washed ashore in Belgium, northern France and The Netherlands. </p>

{% endblock %}
{% block sidebar %}
    <a class="btn btn-standard" href="mailto:marinemammals@naturalsciences.be"><i class="fa fa-bug"></i>Request a loan account</a>
{% endblock sidebar %}
