{# src/AppBundle/Resources/views/Page/index.html.twig #} {% extends
'AppBundle::col-layout.html.twig' %} {% block title %}Necropsies{% endblock %}
{% block stylesheets %}
    {% stylesheets
    '@AppBundle/Resources/public/css/jquery.toc.css'
    'http://cdn.jsdelivr.net/qtip2/2.2.1/jquery.qtip.min.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/jquery.toc.js'
    'http://cdn.jsdelivr.net/qtip2/2.2.1/jquery.qtip.min.js' %}
    <script type="application/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function () {
            var $sticky = $('.sticky');
            if ($sticky.length > 0) {
                var stickyTop = $sticky.offset().top;
                $(window).scroll(function () {
                    var windowTop = $(window).scrollTop(); // returns number
                    if (stickyTop < windowTop)
                        $sticky.css({position: 'fixed', top: 0});
                    else
                        $sticky.css('position', 'static');
                });
            }
            $('span.img_popup').each(function () {
                var $img = $('img.' + $(this).attr('id'));
                $(this).qtip({
                    content: '<img src="' + $img.attr('src') + '"/>',
                    style: {
                        width: $img.width() + 10,
                        name: 'light'
                    }
                });
            });
            $('#toc').toc({
                'selectors': 'h3,h4', //elements to use as headings
                'container': '.about_necropsies', //element to find all selectors in
                'smoothScrolling': true, //enable or disable smooth scrolling on click
                'prefix': 'toc', //prefix for anchor tags and class names
                'onHighlight': function (el) {
                }, //called when a new section is highlighted
                'highlightOnScroll': true, //add class to heading that is currently in focus
                'highlightOffset': 100, //offset to trigger the next headline
                'anchorName': function (i, heading, prefix) { //custom function for anchor name
                    return prefix + i;
                },
                'headerText': function (i, heading, $heading) { //custom function building the header-item text
                    return $heading.text();
                },
                'itemClass': function (i, heading, $heading, prefix) { // custom function for item class
                    return $heading[0].tagName.toLowerCase();
                }
            });
        });
    </script>
{% endblock %}
{% block sidebar %}
    <h3>Table of contents</h3>
    <div id="toc" class="sticky"></div>
{% endblock sidebar %}
{% block mainbar %}
    <div class="about_necropsies has-toc">
        <h3>Introduction</h3>

        <p>Single or mass strandings of whales and dolphins have always intrigued people and must have occurred
            from the time cetaceans have been
            present in the oceans. Seals, having also a terrestrial behaviour, are well known and perhaps less
            intriguing. Mass stranding can be defined
            as an event where two or more animals run ashore alive at roughly the same place and time. Many
            theories have attempted to explain that phenomenon.
            In most cases, it cannot be attributed to a single cause, but is the result of a complex interaction
            of physical and biological factors such as
            ocean currents, tides and coastal configuration, the animals' migratory and social behavior, food
            availability, echolocation or orientation failure,
            and diseases which have debilitating effects.</p>

        <p> All those considerations must be taken into account for the evaluation of the cause of the
            stranding. Emergence of new diseases such as morbillivirus-related or new theories of strandings
            such as linked with anthropogenic activities
            (pollution, sonar) justify to perform post-mortem evaluation of all stranded animals and
            multidisciplinary investigations to understand the process,
            the health status of marine mammals population.</p>

        <p>The aim of the present document is to provide a guideline for post-mortem investigations for marine
            mammal necropsies
            (cetaceans and seals) while the necropsy worshop (third edition in 2009) should be considered as a
            training to dissect marine mammals placing
            emphasis on the cetaceans inner ear extraction and fixation. </p>

        <h3>Why necropsy</h3>

        <p>The aims of necropsies are to provide information about (1) the cause of death,; (2)
            identification of lesions and their potential origin and therewith the health status of and the
            mains threats to a population and (3) collection of samples. Other investigations from samples
            collected during necropsy can provide data on biology (reproductive status, life history,...),
            physiology, anthropogenic pollutant burdens of the marine mammals.</p>

        <p>It was always better to perform the necropsy as soon as possible after the standings but, in
            practise, that is not always possible. Indeed, in case of mass strandings or epizootics
            (morbillivirus), there are too many animals and other solutions have to be found. To understand
            exactly what is happening, it is recommended to perform the necropsy of almost animals, if not
            all. The best solution is to frozen (-20&deg;C) animals (only for small cetaceans and pinnipeds)
            that can be not investigate directly.</p>

        <p>As all informations (pathology, toxicology, life history,...) to be gained by the necropsy is
            valuable by adding to our knowledge of marine mammals (very limited knowledge for most large
            whale species), major efforts should be done to collect as much samples and data as possible.
            Considering the effort necessary, and to achieve a maximum of results by sensible data and
            sample collection, a list of required samples (see annex) and processing laboratories (see
            annex) should be available beforehand. Such basic list is certainely expandable for futher or
            more detailed research and should be updated regularly. It should not be forgotten that
            scientific information is exploitable only when carefully documented. While there are probably
            as many ways to dissect a cetacean as there are pathologists, the aims of this report is to
            propose a standard procedure for the management of stranding and for the necropsy of marine
            mammals and tissues sampling for an intervention level 3 (see below). Protocol could be used as
            guideline for bettering post-mortem investigations on those species.</p>

        <p>The methodology presented below is organized in two parts: (1) general considerations for marine
            mammals necropsy (2) particularities for small cetaceans, pinnipeds and large cetaceans. </p>


        <h3>General Procedure</h3>

        <p>A necropsy <span id='reference'>reference</span> number or code (one and only one) should be
            given for every animal, and the reference should be present on every samples collected. All
            organs must be carefully examined and sliced, ideally at regular intervals. Lesions must be
            described before and after incision (taking into account shape, colour, content,
            consistence, aspect,...), sampled (see below) and photographed with a ruler indicating the
            size and the necropsy reference of the animal. In addition to lesions, some tissues are
            systematically collected for histopathological, parasitological, bacteriological,
            virological, toxicological and live history investigations (see annex 3). This sampling can
            be performed without accurate order but tissues for bacteriology, virology and electron
            microscopy should be collected as soon as possible. In addition, to prevent contamination by
            micro-organisms from intestine, intestinal tract should be left intact until last.</p>

        <h4>External examination</h4>

        <div class="crop">
            <img src="/static-img/necropsies/CC2.jpg"
                 alt="An external examination"/>
        </div>
        <p>Body condition is estimated using condition code (see table 3). Photographs should be taken
            of <span class=img_popup id='lateral'>lateral view</span>, more particularly of the head, body openings and
            external lesions.</p>

        <p>Nutritional status is evaluated taking into account <span class=img_popup
                                                                     id='blubber1'>the blubber thickness</span> and the
            muscle
            aspect; a bad nutritional state being characterized by a thin blubber layer and muscle
            atrophy (hallow aspect lateral to dorsal fin and protusion of lateral processes of lumbar
            vertebrae).</p>

        <p>Skin is carefully examined for lesions and ecto<span class=img_popup id='parasite'>parasites</span>,
            particularly around body openings.
            Special attention should be paid to any scars (precise description with photographs,
            localisation, number, size,...) allowing animal's identification. A skin sample is taken for
            live history.</p>

        <p>Body openings including <span class=img_popup id='mouth'>mouth</span>(tongue,
            palate, teeth or baleen
            plates), <span class=img_popup id='eye'>eyes</span>, blow-hole(s), ear openings,
            genital slit and anus are
            examined, and any lesions, <span class=img_popup id='parasite'>parasites</span> or discharges are described
            and sampled. Pictures are
            taken when needed. In female, mammary glands are examined and sampled for histopathology.
            When present, milk is collected for toxicology and biochemistry. In neonates, the umbilicus
            is examined and collected for histology.</p>

        <h4>Abdominal cavity opening</h4>

        <p><span class=img_popup id='blubber'>The blubber and its interfaces</span> with skin
            and muscle are
            particularly investigated for the presence of <span class=img_popup id='parasite'>parasites</span> and
            parasite cysts. Some of these
            cysts have nearly the same colour as blubber fat and are not easily identified. Sampling for
            toxicology should be done at the caudal insertion of dorsal fin and should be performed when
            blubber thickness is <span class=img_popup id='measured'>measured</span>.</p>

        <p>Muscle is collected for toxicology (heavy metals and organochlorines) below the place of
            blubber sample (same place, same time).</p>

        <p>The peritoneum is particularly investigated for the presence of <span class=img_popup
                                                                                 id='parasite'>parasites</span> and
            parasite
            cysts.</p>

        <p>Bacteriological and virological samples from abdominal organs should be collected as soon as
            the abdominal cavity is opened, with the exception of the intestine. Frequently, the
            gastrointestinal tract, dilated by putrefaction gases, protrudes out through the opening of
            the abdomen. In such case, incisions are made along the <span class=img_popup
                                                                          id='greater'>greater curvature</span> of
            stomach
            compartments. The intestine is ligatured cranially close to the stomach and removed by
            dissection of mesentery. Care should be taken as the intestinal tract is easily torn.</p>

        <p><span class=img_popup id='liver'>The liver</span> is observed in situ on both side
            and sampled (toxicology
            -heavy metals and organochlorines, histopathology, virology, parasitology). The organ is
            then sliced for internal examination, at regular intervals, and the bile ducts are examined
            for the presence of <span class=img_popup id='parasite'>parasites</span>.</p>

        <p><span class=img_popup id='kidney'>The kidneys</span> are observed in situ, sliced at
            regular intervals and
            sampled (toxicology -heavy metals and organochlorines, histopathology, virology,
            parasitology) including complete reniculi with renal medulla and cortex. Renal tissue and
            blood vessels are particularly examined for the presence of <span class=img_popup
                                                                              id='parasite'>parasites</span>.</p>

        <p>The urinary bladder is observed in situ and sampled for histopathology. Content is described
            (volume, colour,...) and should be collected at lower part of the bladder for
            parasitological examination (parasite eggs).</p>

        <p><span class=img_popup id='gastric'>The gastric compartments</span> are opened along
            <span class=img_popup id='greater'>greater curvature</span>
            and content is directly collected (life history and parasitology). The stomach can be rinsed
            with water and the content sieved to collect the smaller parts (otolithe). Particular
            attention should be taken for the presence of <span class=img_popup id='parasite'>parasites</span>,
            lesions,
            otolithes, fishbones and cephalopod's beaks between gastric folds.</p>

        <p>The testis are examined in situ, sliced and sampled for life history.</p>

        <p>The ovaries are examined in situ, sliced and sampled for life history. Note any corpora
            lutea or albicantia or follicles on each ovary.</p>

        <p>The uterus is opened and examined. In pregnant females, the foetus is examined and sampled
            according to the dissection protocol.</p>

        <p>The adrenals (not easily observed) should be collected for histopathology. Particular
            attention should be draw for cysts. Cysts content should be collected (sterile syringe and
            needle) and kept frozen (-20&deg;C) for biochemical analyses.</p>

        <p><span class=img_popup id='pancreas'>The pancreas</span> is examined and pancreatic
            ducts are particularly
            examined for the presence of <span class=img_popup id='parasite'>parasites</span>. Tissue samples for
            histopathology need to be taken
            as soon as possible, as this organ is affected severely by decomposition.</p>

        <p><span class=img_popup id='spleen'>The spleen</span> and <span class=img_popup id='mesenteric'>the mesenteric lymph nodes</span>
            are
            examined and sampled for
            histopathology and virology.</p>

        <p>The intestine should be examined last, outside of the abdominal cavity. Any lesion and all
            <span class=img_popup id='parasite'>parasites</span> should be carefully examined and collected. Intestinal
            content is described when
            present. Ligatured segments are collected for bacteriology and parasitology.</p>

        <h4>Thoracic cavity opening</h4>

        <p>If the skeleton is to be preserved, the opening of the thoracic cavity requires the
            detachment of the ribs from the vertebrae and from the sternum. As soon as possible, during
            this operation, samples for bacteriology, virology and electron microscopy should be
            collected. If skeleton is not to be preserved, ribs can be sawn through.</p>

        <p><span class=img_popup id='thoracic'>In the thoracic cavity</span>, organs should
            be examined in situ, and
            after, the respiratory systems with <span class=img_popup id='heart'>the heart</span>, major blood vessels
            and esophagus are removed
            from the thoracic cavity.</p>

        <p><span class=img_popup id='lung'>The lungs</span> are examined, carefully described
            (size, colour,
            consistence, aspect,...) and sampled (histopathology, bacteriology and virology). Tissue is
            sliced at regular intervals and cut surface is examined for the presence of liquids (blood,
            serous,...) or foam oozing from parenchyma. Any parasite is collected.</p>

        <p>The bronchioles, <span class=img_popup id='bronchi'>bronchi</span> and <span class=img_popup id='trachea'>trachea</span>
            are
            examined and the lumen content, if present, is described. Any parasite is collected.</p>

        <p><span class=img_popup id='heart'>The heart</span> is separated from <span
                    class=img_popup id='lung'>the lungs</span> by cutting the major vessels.
            Blood is collect from the heart lumen, from major vessels or from
            elsewhere for virology,
            for parasitology (blood parasites), for toxicology and for
            biochemistry. Left and right
            ventricles, and atria are opened and heart tissue is collected for histopathology. Any
            parasite is collected.</p>

        <p>All major blood vessels are examined and any parasite is collected.</p>

        <h4>Neck and head</h4>

        <p><span class=img_popup id='lowerjaw'>The lower jaw</span> is dissected and cut at
            mandibular articulation (to be performed finally). The hyoid bones are cut close to the skull. By this way,
            all the
            buccal cavity can be examined as well as basis of the tongue with the tonsil area and
            larynx.</p>

        <p>Dissection of this area allows examination of larynx, <span class=img_popup id='trachea'>trachea</span> and
            oesophagus. Oesophagus should be observed entirely for the presence of preys. When fishes are present, their
            orientation (head fish to stomach or to buccal cavity) must be specified.
            Dissection of tissue overlying <span class=img_popup id='trachea'>trachea</span> allows identification of
            <span class=img_popup id='thyroid'>thyroid gland and thymus</span>
            (not easily observed). They are examined and sampled (histopathology).</p>


        <h3>Small Cetaceans</h3>

        <p>For cetaceans that are easily transportable, it would be easier to perform necropsy in
            dissection or necropsy room.

            Particularities and differences for small cetacean necropsy are presented hereafter.</p>

        <h4>External examination</h4>

        <p>Photographs should be taken of <span class=img_popup
                                                id='lateral'>lateral view</span>, more
            particularly
            for the presence of <span class=img_popup id='netmark'>netmarks</span> on the
            head, around rostrum and
            flippers. Pictures of <span class=img_popup id='dorsal'>the dorsal fin</span> can
            be helpful for animal
            identification.</p>

        <p>Body lengths (see annex ) are <span class=img_popup id='measured'>measured</span> by placing tape next to
            the carcass (laying ventrally) in a straight line parallel to the longitudinal body
            axis. The total body length is taken from most cranial point of the rostrum to the notch
            in the <span class=img_popup id='fluke'>tail fluke</span>. <span class=img_popup id='blubber1'>The blubber thickness</span>
            is <span
                    class=img_popup id='measured'>measured</span> after
            skin and blubber incision, vertically from the cranial insertion of the dorsal fluke to
            the ventral midline.</p>

        <p><span class=img_popup id='penis'>Externally, the penis is not visible,</span> being
            wrapped in a
            subcutaneous sheath (preputial pouch), staying in the pouch by the contraction of a
            S-curvature. To examine the penis, it is necessary to pull it or to open the preputial
            pouch.</p>

        <h4>Abdominal and thoracic cavity opening</h4>

        <p>For practical reason, it is easier to open the animal by the left flank, the cetacean
            laying on its right and to open abdominal and thoracic cavities together. To <span class=img_popup
                                                                                               id='cavities'>open the cavities</span>,
            one incision is
            made horizontally
            through the skin and the blubber, along the lateral processes of vertebrae from the head
            to the anus level. Two other incisions are made vertically from the first incision to
            the ventral midline, one between head and neck, one to the anus. The strip of skin and
            blubber is removed. To open the abdominal cavity, the landmark to find is the caudal
            extremity
            of the last rib. The <span class=img_popup id='extremity'>extremity is pulled up</span> and
            the abdominal wall can be opened by cutting muscles vertically along the last rib,
            without damage for intra-abdominal organs and caudally to the anus. The left thoracic
            breastplate is removed in one piece, dissecting the articulations between ribs and
            vertebrae and ribs and sternum. A rib can be collected for toxicology. Such opening
            allows to have a <span class=img_popup id='general'>general overview</span> of the
            topography and the
            organs in situ.</p>

        <p>The examination of abdominal and thoracic organs and samplings of procedure are similar
            to what it is described in the general procedure.</p>

        <h4>Neck and head</h4>

        <p>The skin and subcutaneous tissues are removed ventrally from the intermandibular space up
            to the entry of the thorax. After examination and sampling of tissues (tongue,
            esophagus, <span class=img_popup id='trachea'>trachea</span>, thyroid, thymus), the head is separated from
            the rest of the body by
            dissection of the atlanto-occipital articulation. <span class=img_popup id='lowerjaw'>The lower jaw</span>
            is separated and teeth
            (at least 4) are collected at the middle of the lower jaw and
            stored frozen for age
            determination. The acoustic fat (within the mandible) is examined in situ and <span class=img_popup
                                                                                                id='lowerjawcut'>the lower jaw is cut</span>
            at the middle
            to detect any evidence
            of haemorrhage or acoustic fat bleeding. Acoustic fat is collected for histology.</p>

        <h4>Ear extraction and fixation protocol</h4>

        <h5>Tympanic-periotic complex</h5>

        <p>The tympanic and periotic bones house the middle and inner ear, respectively. These
            structures are partially fused forming the tympanic-periotic complex (Figure 1). The
            tympanic-periotic complex is surrounded by aerial sinuses called peribullar sinuses and
            suspended in the peribullar cavity through ligaments that hold it fixed and acoustically
            isolated it from the rest of the bones of the skull, except the sperm whales and some
            beaked whales who present the tympanic-periotic complex partially fused to the temporal
            bone.</p>

        <p>Figure 1.- Tympanic- periotic complex of a <i>Stenella coeruleoalba</i> stranded in Almeria,
            Spain. Sample provided by Promar</p>

        <h5>Extraction</h5>

        <ul>
            <li><p>1.- With small specimens, it is recommended to cut the head of the animal for an easier
                    manipulation (Figure 2).</p>

                <p>Figure 2.- The position of the tympanic-periotic complex and auditory external meatus is
                    indicated. The dotted line marks the incision path to separate the head from the rest of
                    the body. Alternatively, the digestive system can be extracted from the head to
                    facilitate the access to the ears.</p></li>

            <li><p>2.- Taking into account the localization of the tympanic-periotic complex (Figures 3 and
                    4), the easiest way to access the ears is to carefully remove <span class=img_popup id='lowerjaw'>the lower jaw</span>.
                </p>

                <p>Figure 3.- Sagital cut of a bottlenose dolphin head where the location of the
                    tympanic-periotic complex is indicated.</p></li>

            <li><p>3.- Situating the head in a ventral position and removing the soft tissues and ligaments
                    (Figure 4) allows to proceed to the tympanic-periotic complex extraction.</p>

                <p>Figure 4.- Image taken during the necropsy of a <i>Phocoena phocoena</i>. This image reflects
                    how the tympanic-periotic complex appears after removing <span class=img_popup id='lowerjaw'>the lower jaw</span>
                    (no effort has
                    been made here to clean the area of extraction)</p></li>

            <li><p>4.- Incise gently around the tympanic-periotic complex with a small knife (a scalpel can
                    be used for the final stage of the extraction) to cut the ligaments that mantain the
                    ears in the paraotic sinus (see Figure 5).</p>

                <p>Figure 5.- Image taken during a <i>Phocoena phocoena</i> necropsy. The dotted line illustrates
                    the location where the knife should be placed to extract the tympanic-periotic
                    complex.</p></li>
        </ul>
        </ul>
        <h5>Fixation</h5>
        <ul>
            <li><p>5a.- At that stage, the ear could be fixed simply placing it in a fixative solution:
                    glutaraldehyde 2,5% with phosphate buffer 0,1M 2 or a mixture of paraformaldehyde 0,5%
                    with glutaraldehyde 1% with phosphate buffer 0,1M 3. If the mentioned fixative
                    solutions are lacking, the tissues can be also fixed with formaldehyde 10%.</p>

                <p>However, for a better result we recommend to follow the protocol described in point
                    5b.</p></li>

            <li><p>5b.- If already experienced with the injection protocol, you may want to progressively
                    and very slowly introduce the fixative solution (glutaraldehyde 2,5% with phosphate
                    buffer 0,1M or a mixture of paraformaldehyde 0,5% with glutaraldehyde 1% with phosphate
                    buffer 0,1M) through the oval window (after removing the stapes and making a small and
                    superficial hole in both windows) and the round window (Figure 6) using a soft catheter
                    from the same diameter as the windows size (Figure 7).</p>

                <p>If the above fixative solutions are lacking, the ears can alternatively be injected with
                    formaldehyde 10%.</p>

                <p>The injection is a very delicate process and if you do not feel comfortable with it,
                    please do not perform it. It is important to mention if the ear has been injected or not
                    when sending it. In any case, before performing the injection, you are welcome to
                    contact the Laboratori d'Aplicacions Bioac&uacute;stiques.</p>

                <p>Figure 6.- Localization of the oval and round windows in the periotic bone.</p>

                <p>Figure 7.- Tursiops truncatus periotic bone used to illustrate all the steps in the
                    injection process: A) cut of the stapedial ligament, B) removal of the stapes, C and D)
                    the performance of a little a superficial hole in the oval and round windows
                    respectivelly, E and F) introduction of the fixative solution progressively and very
                    slowly (very little pressure) through the oval window and the round window using a soft
                    catheter from the same diameter as the windows size, until the solution gets out through
                    the other one for some seconds.</p></li>

            <li><p>6.- Place the ears in jars that contain the fixative liquids (see point 6).</p></li>
        </ul>
        <h4>Brain or central nervous system tissue</h4>

        <p>If spinal cord sample is necessary (histology or microbiology), it can be collected after
            the head separation within the atlas vertebrae. To have access to the brain, <span class=img_popup
                                                                                               id='skull'>the skull is sawed</span>
            longitudinally. The
            blowhole and the nasal
            passage can be examined for the presence of parasite, liquid or foam. The pituitary
            gland (mid-ventral part of the brain, in the Sella turcica ) is sampled separately for
            histology. A complete <span class=img_popup
                                        id='cerebral'>cerebral hemisphere</span> is collected
            for
            histology while the other hemisphere is sampled for virology, toxicology and
            bacteriology.</p>

        <p>The peritympannic sinuses are dissected and examined for the presence of <span class=img_popup id='parasite'>parasites</span>
            and
            fluid.</p>

        <p>To prepare 1 l of glutaraldehyde 2,5% is necessary to dilute 100 ml of concentrate
            solution (glutaraldehyde 25%) in 900ml of phosphate buffer 0,1M, prepared following this
            mixture: 3,12 g of NaH 2 PO 4 2H 2 O (PM =156 g) in 100 ml distilled water 28,64 g of Na
            2 HPO 4 &middot; 12 H 2 O (PM= 358 g) in 400 ml distilled water Add 500ml of distilled
            water to the mixture</p>

        <p>
            Please, be aware that once these products are mixed, the fixative power is active for
            around a week; so it's better to keep them separately and do the mixture at the last
            moment.</p>

        <h3>Pinnipeds</h3>

        <p>Most of pinnipeds within European waters can be easily transportable and necropsy can
            be organized in good facilities such as dissection and necropsy rooms.</p>

        <p>Particularities and differences for pinnipeds necropsy are presented hereafter.</p>

        <h4>External examination</h4>

        <p>Body lengths (see annex ) are <span class=img_popup id='measured'>measured</span> by placing tape next to the
            carcass (laying
            ventrally) in a straight line parallel to the longitudinal body axis. The total body
            length is taken from most cranial point of the head to the extremity of the hind
            flipper. <span class=img_popup id='blubber1'>The blubber thickness</span> is measured
            dorsally after skin and blubber
            incision.</p>

        <p>As for cetacean, the penis is not visible and should be examined and sampled as
            described here in before.</p>

        <h4>Abdominal and thoracic cavity opening</h4>

        <p>Seals are laying <span id="dorsally">dorsally</span> before opening cavities. A first
            incision is made along the ventral midline from the intermandibular space to the
            anus and two incision from the xiphoid process of the sternum to the foreflipper
            (V-incision). Flap of skin and subcutaneous tissues are removed. Abdominal cavity is
            opened along the hypochondrium and after by two backward incision along dorsal
            muscles. Ribs are cut or sawed at mid-height and the thoracic breastplate is
            removed. A rib can be collected for toxicology. Such opening allows to have a
            <span class=img_popup id='general'>general overview</span> of the topography and the organs in situ.</p>

        <p>The examination of <span id="thoracic1">abdominal and thoracic organs</span> and
            samplings of procedure are similar to what it is described in the general procedure.
            The stomach is single.</p>

        <h4>Neck and head</h4>

        <p>After examination and sampling of tissues in the neck area (tongue, esophagus,
            <span class=img_popup id='trachea'>trachea</span>, thyroid, thymus), the head is separated from the rest of
            the body by
            dissection of the atlanto-occipital articulation. <span class=img_popup id='lowerjaw'>The lower jaw</span>
            is separated and a
            canine tooth is collected and stored frozen for age determination.
        <h4>Brain or central nervous system tissue</h4>

        <p>If spinal cord sample is necessary (histology or microbiology), it can be collected
            after the head separation within the atlas vertebrae. To have access to the brain,
            <span class=img_popup id='skull'>the skull is sawed</span> longitudinally. Nostril and air passage can be
            examined for the
            presence of parasite, liquid or foam. The pituitary gland (mid-ventral part of the
            brain, in the Sella turcica ) is sampled separately for histology. A complete
            <span class=img_popup id='cerebral'>cerebral hemisphere</span> is collected for histology while the other
            hemisphere is sampled
            for virology, toxicology and bacteriology.</p>


        <h3>Large Cetaceans</h3>

        <h4>On spot organization</h4>

        <p>Necropsy of large cetacean or many large cetaceans, in case of mass stranding
            such as frequently observed for sperm whales, present a major logistical and
            scientifical challenge if complete examination is to be performed. It needs an
            effective collaboration between public authorities, scientists, media and
            public. We considered as large cetaceans, animals that are too large to be
            necropsied out of the stranding site (money-, time- and manpower-consuming for
            transportation). Those are sperm whales, beaked whales and baleen whales. </p>

        <p>Performing a gross pathological examination on the carcass of a large whale on
            the beach -to collect the aforementioned information and samples- requires the
            help of heavy equipment and considerable manpower. In touristic areas, like for
            instance most coastlines of the southern part of the North Sea, the beaches must
            be as clean as before the stranding and dissection, for both hygienic and
            economic reasons. It is -more often than not- not possible to let a whale
            carcass lie to rot where it is (and let tide, weather and scavengers do the
            work). Nor can it be towed out to sea in most cases, as whale carcasses may
            drift back to shore driven by currents, winds and tides, and floating large
            carcasses may represent a major danger for navigation. On site burying is
            hazardous for both the possible environmental contamination and the potential of
            whale carcasses "refloating" on the sand, e.g. unburrying themselves, during the
            process of decomposition. To date, there is no valid solution for on site
            carcass disposal and stranded animal(s) must be removed and disposed off
            elsewhere. Such work requires heavy equipment and manpower. For the necropsy,
            the best solution is collaborate with a team in charge of the carcass disposal,
            benefiting from their infrastructures. It should be considered potentially
            dangerous (dissemination of pathogens organisms,...) to open a whale carcass
            without this equipment useful for the elimination of whale's waste (muscle,
            blubber flats, visceral organs) from the beach. When material is not available
            or if collaboration is not directly possible, heavy material should be obtain
            from state, municipal public works department and from private sources.</p>

        <p>The role of technical coordinator is essential for any operations on the beach.
            This person should coordinate all technical support, ensure the security of
            workers, press and by-standers alike, and communicate effectively with local and
            public authorities. The coordinator should ensure the collaboration with the
            team in charge of carcass disposal to obtain as soon as possible the heavy
            equipment without delay. Coordinators (scientific and technical) should consider
            all political and legal aspects. As there are many unexpected characters of such
            events, such coordination should be well prepared and not improvised on the
            spot. In area where stranding of large cetaceans or mass strandings frequently
            occured like the North Sea, preliminary meetings (national and international),
            out of event's excitation, with all intervening parties (coordinators,
            scientists, authorities,...) may facilitate field collaboration and
            coordination. This may be achieved best by a periodic meeting defining:</p>

        <p>1) stranding interests -scientific, public exhibition,...-; 2) the local status
            of marine mammals; 3) the political and legal framework such national and
            international agreements; 4) the role of the research programs on marine
            mammals; 5) possible financial support for whale disposal; 6) technical
            availability. During such conferences, previous stranding experiences and
            results should be presented, and discussed on a round table to improve the
            stranding management and the protocols for necropsy and sampling.</p>

        <p>With well-trained and well coordinated teams, necropsy is realised in good
            conditions and in a reasonable timeframe with a certain comfort. In addition,
            mass stranding of sperm whales require several necropsy teams; postmortem
            examination itself should only be performed by trained scientists. Such
            organisation requires collaboration between pathologists in charge of marine
            mammals necropsy, and help of volunteers like students in veterinary medicine or
            in biology. As previously described, such logistics should be prepared in
            advance and not improvised on the beach.</p>

        <p>Stranding of one or many large cetaceans is very attractive for public and media,
            and major efforts should be done to give the right information to journalists.
            As soon as possible, co-ordinators and scientists must organized on the spot, a
            press conference with the results of beach investigations (first observations of
            animal(s), first necropsy results,...). A second press conference could be
            organized after short delay (after event excitation) with results available from
            laboratories involved in the network.</p>

        <p>Necropsy of large cetaceans is very different to that of small marine mammals
            made in a well-equipped necropsy room. It is usually performed on the beach near
            the place of stranding. Basic necropsy equipment for large cetaceans should be
            ready and available beforehand. So, it is important to have an updated checklist
            of material to take on the spot (annex 1). It is useful to have phone lists to
            contact and mobilize: 1) personnel and volunteers; 2) public and local
            authorities; 3) Civil Protection and 4) and to obtain additional material when
            required (heavy equipment).</p>

        <p>Field material should be assembled as kits, each being in is own transport box
            (table 1).</p>

        <p>Plastic badges are usefull to identify people on the beach with name,
            institutional affilitation and function (coordinator, pathologist,...). Badges
            should also be provided to volunteers. In addition, for night work each person
            should have reflective safety tape.</p>

        <p>Cetaceans might carry potentially pathogens which are potentially hazardous to
            humans (zoonoses). Appropriate clothes like waterproof dress such as those for
            fisherman, rubber cloves and eventually mask are particularly indicated.</p>

        <p>Manipulation of large cetacean carcasses requires heavy and haulage equipment
            working on beach. Either, it is in collaboration with team in charge of carcass
            disposal or it should be provided from state, municipal public works department
            or from private source.</p>

        <p>As soon as possible (before necropsy), an operation center with phone, fax and
            internet line close to the stranding site should be established (hotel, communal
            building,...) where coordination meetings, teams briefing, press conferences,...
            will be organized.</p>

        <p>All intervention should be done with care for human safety. Large cetaceans
            stranding events usually cause major agitation and excitement of authorities,
            scientists, volunteers and public, the latter often extremely curious and
            sometimes willing to help. For safety reasons, the number of people with direct
            access to the carcass(es) should be restricted to working teams and local
            authorities (police, fire brigade, Civil Protection). The latter should limit
            the access with barriers at sufficient distance of animal (25 m mimimum) to
            allow the work of scientists and of heavy machines. On some animals in advanced
            decay, there is a real risk of explosion-like evisceration due to the elevated
            internal pressure following decomposition gases production. It is a
            supplementary reason to take public at significant distance of the animal.
            Identification badge helps police service to limit the access to allowed
            person.</p>

        <p>It is possible to collect data and information by one person with one knife and
            one measuring tape. However, complete examination of a large cetacean, including
            necropsy requires manpower and heavy material (truck and bulldozer).</p>

        <p>The second step of intervention is to avoid that carcass might drift away with
            the following high tide. The body can be dragged ashore at the maximum high tide
            and sand barriers can erected by bulldozer around the whale will delay the body
            immersion at the next tide.</p>

        <p>Putrefaction and all associated postmortem tissues damages and alterations are
            very fast processes in large cetaceans and more obviously in sperm whales.
            Therefore, necropsy and tissues sampling should be performed as soon as possible
            without delay and require a quick, effective and save waste disposal.</p>

        <h4>Necropsy team & procedure</h4>

        <p>For one large cetacean and more obviously in case of a mass stranding, necropsy
            should be performed by a team of at least 3 persons, including a trained
            pathologist working with one assistant in charge of photographs and taking notes
            of necropsy observations, and one asssitant in charge of sampling (storage and
            labeling). Ideally, these assistants should have basic scientific knowledge.
            When more persons or qualified volunteers are present, it is usefull to have one
            person storing samples (dirty work) working with one in charge of labeling
            (clean work). Additional manpower is needed for the manipulation of organs. As
            soon as possible, animal should have reference number, useful for the
            sampling.</p>

        <p>Before the necropsy, it is necessary to hold a briefing to define the general
            rules of action, safety and hygiene on the beach. All parties involved
            (coordinator, scientists, volunteers, authorities, carcasse disposal team,...)
            should participate at this briefing. Similarly, a debriefing after completion of
            the necropsy and carcass removal is recommended. It will allow to collect all
            informations (e.g. for press conference) and to thank all participants. A
            liaison person, usually the one of the coordinators, should maintain contact
            with all non-scientific parties involved after the event and inform them of
            scientific findings.
            Mass strandings</p>

        <p> Each animal must have one (and only one) reference number and this reference
            number must be used for the labeling of samples.</p>

        <p>Three levels of intervention can be defined following the number of animals
            involved, the accessibility to the stranding site, the availability of heavy
            equipment and manpower, the presence of necropsy teams and the body condition of
            the animals. Considering these various parameters, postmortem investigations can
            be more or less developped (see table 2). In case of a mass strandings of more
            than 5 animals occuring on not easily accessible site (e.g. sandbank), or when
            heavy equipment or necropsy teams are not present, intervention should be
            limited (level 1). In case of a mass stranding of 5 or less animals, occuring on
            easily accesible area with heavy equipment quickly available and one necropsy
            team by animal, intervention should not exluded any point of the present
            protocol (level 3).</p>

        <p>In case of mass strandings of more than 5 cetaceans, necropsy should begin and be
            limited on animals in the best condition code.</p>

        <p>When animals strand on sandbank at some distance of an accesible beach, they
            should be dragged ashore as soon as possible. This increases delay for
            interventions but should not exclude necropsy and tissues sampling. Carcasses
            disposal and necropsies are two different interventions performed by two
            different teams but they can operate simultaneously in collaboration. It is
            recommended to drag ashore first (if possible) the animal in good condition (see
            condition code), so the two teams can work directly.</p>

        <h4>Necropsy</h4>

        <p>All organs must be carefully examined and sliced, ideally at intervals of of
            10-20 cm. Lesions must be described before and after incision (taking into
            account shape, colour, content, consistence, aspect,...), sampled (see below)
            and photographed with a ruler indicating the size. In addition to lesions, some
            tissues are systematically collected for histopathological, parasitological,
            bacteriological, virological, toxicological and live history investigations (see
            annex 3). This sampling can be performed without accurate order but tissues for
            bacteriology, virology and electron microscopy should be collected as soon as
            possible. In addition, to prevent contamination by micro-organisms from
            intestine, intestinal tract should be left intact until last. Precautions should
            be take to avoid sample contamination by sand (not easy on sandy beach),
            particularly for histopathology and toxicology.</p>

        <h5>External examination</h5>

        <p>Body condition is estimated using condition code (see table 3). Photographs
            should be taken of <span class=img_popup id='lateral'>lateral view</span>, of the dorsal and pectoral fin
            (ideally ventral
            view), plus body openings and lesions.</p>

        <p>Body lengths are <span class=img_popup id='measured'>measured</span> by placing tape next to the carcass in a
            straight line
            parallel to the longitudinal body axis. The total body lenght is taken from most
            cranial point of the head to the notch in the <span class=img_popup id='fluke'>tail fluke</span>. <span
                    class=img_popup id='blubber1'>The blubber thickness</span>
            is <span class=img_popup id='measured'>measured</span> at the caudal insertion of the pectoral fin.</p>

        <p>Nutritional status is evaluated taking into account <span class=img_popup
                                                                     id='blubber1'>the blubber thickness</span> and the
            muscle aspect; a bad nutritional state being characterized by a thin blubber
            layer and muscle atrophy (hallow aspect lateral to dorsal fin and protusion of
            lateral processes of lumbar vertebrae).</p>

        <p>Skin is carefully examined for lesions and ecto<span class=img_popup id='parasite'>parasites</span>,
            particularly around
            body openings. Special attention should be paid to any scars (precise
            description with photographs, localisation, number, size,...) allowing whale's
            identification, and for the presence of <span class=img_popup id='parasite'>parasites</span> between ventral
            throat
            grooves. A skin sample is taken for live history.</p>

        <p>Body openings including <span class=img_popup id='mouth'>mouth</span>(tongue, palate, teeth or baleen
            plates), <span class=img_popup id='eye'>eyes</span>,
            blow-hole(s), ear openings, genital slit and anus are examined, and any lesions,
            <span class=img_popup id='parasite'>parasites</span> or discharges are described and sampled. Pictures are
            taken when
            needed. In female, mammary glands are examined and sampled for histopathology.
            When present, milk is collected for toxicology and biochemistry. In large male
            cetaceans and particularly the sperm whale, the penis protudes soon after death
            due to the internal pressure building up in the body cavities; it can then be
            easily examined. Particular attention should be drawn to the external ear of
            both baleen whales and sperm whales : the outer ear opening and the meatus
            acusticus externus should be sampled for histopathology and microbiology, the
            ear plug in mysticetes is collected for life history.</p>

        <h5>Abdominal cavity opening</h5>

        <p>In case of animal in advanced decomposition (condition code 4, in sperm whales
            also condition code 3), it would be dangerous to open the abdominal cavity
            directly. The internal pressure should be diminished either by placing a
            pressure-relieve cut on whale back (stand out of the way of extruding visceral
            organs) or -in more advanced cases of bloating- by introduction of rigid pipes
            through abdominal wall. After relieving the abdominal pressure to avoid
            "explosion-like evisceration", such decayed animal should be investigated last
            in case of a mass stranding; internal examination -other than for life history
            samples- is of limited value.</p>

        <p>For abdominal cavity opening, it is necessary to cut a window in the belly. The
            skin and muscles are cut with relatively easily, but the rather fibrous blubber
            layer of sperm whales reaching 15 to 20 cm is very hard to incise. There
            certainely are several techniques to open the whale carcasses body cavities. As
            this is one (see figure) of the most time and strength consuming procedures
            during the entire necropsy, preference is given to the following technique and
            the use of bulldozers to pull long horizontal strips of skin and blubber; one
            incision is made through skin and blubber horizontally, at the mid height of the
            body, from the pectoral flipper to the anus level and two vertically, the first
            from the cranial part of the horizontal cut to the ventral midline and the
            second from the caudal part of the horizontal cut to the anus. The skin and
            blubber flaps are tied by ropes or chains at the horizontal incision and they
            are pulled by bulldozers (or men) for dissection of the abdominal blubber and
            exposure of abdominal muscles. A strip of tissue is removed and the subcutaneous
            tissue and blubber are examined for lesions and <span class=img_popup id='parasite'>parasites</span>. With
            the same
            technique, abdominal muscle layers and peritoneum are removed.</p>

        <p>When it is necessary to climb onto the whale, it would be useful to cover whale's
            body with sand to avoid slipping.</p>

        <p>While blood can be collected from <span class=img_popup id='heart'>the heart</span>, blood samples from
            vessels of the
            skin or abdominal wall can be taken more easily and in most cases free of
            contaminations.</p>

        <p><span class=img_popup id='blubber'>The blubber and its interfaces</span> with skin and muscle are
            particularly investigated
            for the presence of <span class=img_popup id='parasite'>parasites</span> and parasite cysts. Some of these
            cysts have
            nearly the same colour as blubber fat and are not easily identified. Sampling
            for toxicology should be done at the caudal insertion of dorsal fin and should
            be performed when blubber thickness is <span class=img_popup id='measured'>measured</span>.</p>

        <p>Muscle is collected for toxicology (heavy metals and organochlorines) below the
            place of blubber sample (same place, same time).</p>

        <p>The peritoneum is particularly investigated for the presence of <span class=img_popup
                                                                                 id='parasite'>parasites</span> and
            parasite cysts.</p>

        <p>Bacteriological and virological samples from abdominal organs should be collected
            as soon as the abdominal cavity is opened, with the exception of the intestine.
            Frequently, the gastrointestinal tract, dilated by putrefaction gases, protrudes
            out through the opening of the abdomen. In such case, incisions are made along
            the <span class=img_popup id='greater'>greater curvature</span> of stomach compartments. The intestine is
            ligatured
            cranially close to the stomach and removed -while helpers are pulling the
            intestine out of the abdomen- by dissection of mesentery. Care should be taken
            as the intestinal tract is easily torn and it is relatively hard to pull it out
            of the abdomen.</p>

        <p><span class=img_popup id='liver'>The liver</span> is observed in situ on both side as far as possible and
            sampled
            (toxicology -heavy metals and organochlorines, histopathology, virology,
            parasitology). The organ is then sliced for internal examination, ideally at
            interval of 10 cm, and particularly the bile ducts are examined for the presence
            of <span class=img_popup id='parasite'>parasites</span>.</p>

        <p><span class=img_popup id='kidney'>The kidneys</span> are observed in situ, sliced at interval of 10 cm and
            sampled
            (toxicology -heavy metals and organochlorines, histopathology, virology,
            parasitology) including complete reniculi with renal medulla and cortex. Renal
            tissue and larger blood vessels are particularly examined for the presence of
            <span class=img_popup id='parasite'>parasites</span>.</p>

        <p>The urinary bladder is observed in situ and sampled for histopathology. Content
            is described (volume, colour,...) and should be collected at lower part of the
            bladder for parasitological examination (parasite eggs).</p>

        <p><span class=img_popup id='gastric'>The gastric compartments</span> are opened along <span class=img_popup
                                                                                                     id='greater'>greater curvature</span>
            and content is
            directly collected. Particular attention should be taken for the presence of
            <span class=img_popup id='parasite'>parasites</span>, lesions and cephalopod's beaks between gastric folds.
            If the stomach
            seems empty, incision should be made at the sloping area to collect the liquid
            content (life history and parasitology).</p>

        <p>The testis are examined in situ, sliced and sampled for life history</p>

        <p>The ovaries are examined in situ, sliced and sampled for life history. Note any
            corpora lutea or albicantia or follicles on each ovary. </p>

        <p>The uterus is opened and examined. In pregnant females, the foetus is examined
            and sampled according to the dissection protocol.</p>

        <p>The adrenals (not easily observed) should be collected for histopathology.
            Particular attention should be draw for cysts. Cysts content should be collected
            (sterile syringe and needle) and kept frozen (-20&deg;C) for biochemical
            analyses.</p>

        <p><span class=img_popup id='pancreas'>The pancreas</span> is examined and pancreatic ducts are particularly
            examined for the
            presence of <span class=img_popup id='parasite'>parasites</span>. Tissue samples for histopathology need to
            be taken as
            soon as possible, as this organ is affected severely by decomposition.</p>

        <p><span class=img_popup id='spleen'>The spleen</span> and <span class=img_popup id='mesenteric'>the mesenteric lymph nodes</span>
            are examined and sampled for
            histopathology and virology.</p>

        <p>The intestine should be examined last, outside of the abdominal cavity. The
            opening of large intestinal segments on the beaches should be avoided (potential
            micro-organism and waste dissemination). Such investigation can be performed in
            the mechanical shovel of the bulldozer before being discarded in the container
            for carcasses disposal. Any lesion and all <span class=img_popup id='parasite'>parasites</span> should be
            carefully
            examined and collected. Intestinal content is described when present. Ligatured
            segments are collected for bacteriology and parasitology.</p>

        <h5>Thoracic cavity opening</h5>

        <p>If the skeleton is to be preserved, the opening of the thoracic cavity requires
            the detachment of the ribs from the vertebrae and from the sternum. At first, it
            is necessary to strip the ribs from muscles and connective tissue; then, each
            rib has to be detached one by one (this procedure is very time-consuming). As
            soon as possible, during this operation, samples for bacteriology, virology and
            electron microscopy should be collected. If skeleton is not to be preserved,
            ribs can be sawn through. (If a complete opening of the thoracic cavity is
            impossible, for instance due to lack of time or of manpower, there are two
            alternative ways to open the thoracic cavity : after removal of the abdominal
            organs, the thoracic cavity is approached from the abdomen by cutting through
            the diaphragm, and cranially -after severing the head from the body, through the
            cranial thoracic opening. Alternatively, for a fast access to one lung, the
            thoracic cavity is opened by cutting a window between two ribs. This may allow
            visual examination and palpation of a very small part of one lung.)</p>

        <p><span class=img_popup id='thoracic'>In the thoracic cavity</span>, organs are not easily examined in situ.
            Depending on
            circumstance, it may be usefull to remove the respiratory systems with <span class=img_popup id='heart'>the heart</span>
            and major blood vessels from the thoracic cavity. Otherwise, examination and
            sampling are performed in the cavity.</p>

        <p><span class=img_popup id='lung'>The lungs</span> are examined, carefully described (size, colour,
            consistence,
            aspect,...) and sampled (histopathology, bacteriology and virology). Tissue is
            sliced at regular intervals and cut surface is examined for the presence of
            liquids (blood, serous,...) or foam oozing from parenchyma. Any parasite is
            collected.</p>

        <p>The <span class=img_popup id='bronchi'>bronchi</span>oles, <span class=img_popup id='bronchi'>bronchi</span>
            and <span class=img_popup id='trachea'>trachea</span> are examined and the lumen content, if
            present, is described. Any parasite is collected.</p>

        <p><span class=img_popup id='heart'>The heart</span> is separated from <span class=img_popup
                                                                                     id='lung'>the lungs</span> by
            cutting the major vessels. Blood is
            collect from <span class=img_popup id='heart'>the heart</span> lumen, from major vessels or from elsewhere
            for virology,
            for parasitology (blood <span class=img_popup id='parasite'>parasites</span>), for toxicology and for
            biochemistry. Left
            and right ventricles, and atria are opened and heart tissue is collected for
            histopathology. Any parasite is collected.</p>

        <p>All major blood vessels are examined and any parasite is collected.</p>

        <h5>Neck and head</h5>

        <p>When possible, lower jaw is dissected and cut at mandibular articulation (to
            be performed finally). The hyoid bones are cut close to the skull. By this
            way, all the buccal cavity can be examined as well as basis of the tongue with
            the tonsil area and larynx.</p>

        <p>Dissection of this area allows examination of larynx, <span class=img_popup id='trachea'>trachea</span> and
            oesophagus.</p>

        <p>Oesophagus should be observed entirely for the presence of preys. When fishes are
            present, their orientation (head fish to stomach or to buccal cavity) must be
            specified.</p>

        <p>Dissection of tissue overlying <span class=img_popup id='trachea'>trachea</span> allows identification of
            thyroid gland and
            thymus (not easily observed). They are examined and sampled
            (histopathology).</p>

        <p>4.5. Brain or central nervous system tissue</p>

        <p>For the transportation of animal to process plant (carcasses disposal), the body
            is usually cut in 2 or more pieces. It is possible to collect brain tissue
            (histopathology, virology) through the occiputal formen once the head is
            detached (classical technique on sperm whale). It is possible to obtain the
            spinal cord when body is cut elsewhere.</p>

        <h5>Animal weight and blubber thickness</h5>

        <p>The total body weight should be calculated after weighing the carcass and
            necropsy wastes at the process plant at the time of carcasses disposal. For
            sperm whales, there is a correction factor (1.14) to compensate loss of body
            fluid during dissection and transport. A predictive formula of normal weight (W)
            can be used from <span class=img_popup id='measured'>measured</span> length (L) -W=0.00218L 2.74 -. Such
            calculation allows
            comparison of estimated weight of the stranded sperm whales and weight reported
            on sperm whales caught during whaling operation. Similarly, blubber thickness
            can be compared with reference values. All those information are complementary
            to the evaluation of nutritional status (see above). </p>

        <h3>References</h3>

        <p>DIERAUF L. A., Hanbook of marine mammals medicine : health, disease, and
            rehabilitation. CRC Press, second edition Boca Raton, 2001.</p>

        <p>GERACI J. R. & LOUNSBURY V. J. Marine mammals ashore a field guide for
            strandings. Texas A&amp;M sea grant publication, Second edition, Galveston,
            2005, p. 133.</p>

        <p>JACQUES T. & LAMBERTSEN R. eds Sperm whale deaths in the North Sea : Science
            and Management, Bulletin de l'Institut Royal des Sciences Naturelles de
            Belgique, Biologie, vol. 67 - suppl&eacute;ment, 1997.</p>

        <p>Jauniaux T., Garcia Hartmann M., Haelters J., Tavernier J. & Coignoul F.
            Echouage de mammif&egrave;res marins : guide d'intervention et proc&eacute;dures
            d'autopsie. Annales de M&eacute;decine V&eacute;t&eacute;rinaire, 2002, 146,
            261-276.</p>

        <p>Jauniaux T., Bouquegneau J.-M. & Coignoul F. eds, Marine Mammals, Seabirds
            and Pollution of Marine Systems, Presse de la Facult&eacute; de M&eacute;decine
            V&eacute;t&eacute;rinaire, Universit&eacute; de Li&egrave;ge, Li&egrave;ge,
            1997.</p>

        <p>KUIKEN T. & GARC&iacute;A HARTMANN M. Proceedings of the first ECS workshop
            on Cetacean pathology: dissection techniques and tissue sampling. ECS
            Newsletter #17 Special issue, 1991.</p>

        <p>LAW R. J. (compiler) Collaborative UK Marine Mammal Project : summary data
            produced 1988-1992, Fisheries Research Technical Report n&deg; 97, Ministry
            of Agriculture, Fisheries and Food Directorate of Fisheries Research,
            Lowestoft, 1994.</p>

        <p>LOCKYER C., Body composition of the sperm whales Physeter macrocephalus, with
            special reference to the possible functions of fat depots. Rit Fiskideilar
            Journal of the Marine Research Institute Reykjavik, 12: 1-24.</p>

        <p>REYNOLD, J. E. & ODELL D. K., Proceedings of the second marine mammal
            stranding workshop, NOAA technical report NMFS 98, U.S. Department of
            commerce, 1991. </p>
    </div>

    <div>
        {#landscapes#}
        <img class="reference" src="/static-img/necropsies/Photo/DSC_0001.jpg" style="height=200px" alt="DSC_0001.jpg"/>

        <img class="reference" src="/static-img/necropsies/Photo/DSC_0002.jpg" style="height=200px" alt="DSC_0002.jpg"/>

        <img class="mouth" src="/static-img/necropsies/Photo/DSC_0003.jpg" style="height=200px" alt="DSC_0003.jpg"/>

        <img src="/static-img/necropsies/Photo/DSC_0047.jpg" style="height=200px" alt="DSC_0047.jpg"/>

        <img class="reference" src="/static-img/necropsies/Photo/DSC_0050.jpg" style="height=200px" alt="DSC_0050.jpg"/>

        <img class="mouth" src="/static-img/necropsies/Mouth.jpg" style="height=200px" alt="Mouth.jpg"/>

        <img class="eye" src="/static-img/necropsies/eye.jpg" style="height=200px" alt="eye.jpg"/>
        <img class="greater" src="/static-img/necropsies//greater_curvature.jpg" style="height=200px"
             alt="/greater_curvature.jpg"/>

        <img src="/static-img/necropsies/lung1.jpg" style="height=200px" alt="lung1.jpg"/>

        <img class="bronchi" src="/static-img/necropsies/bronchi.jpg" style="height=200px" alt="bronchi.jpg"/>

        <img class="trachea" src="/static-img/necropsies/trachea.jpg" style="height=200px" alt="trachea.jpg"/>

        <img class="heart" src="/static-img/necropsies/heart.jpg" style="height=200px" alt="heart.jpg"/>
        <img class="liver" src="/static-img/necropsies/liver.jpg" style="height=200px" alt="liver.jpg"/>
        <img class="kidney" src="/static-img/necropsies/kidney.jpg" style="height=200px" alt="kidney.jpg"/>
        <img class="gastric" src="/static-img/necropsies/gastric_compartments.jpg" style="height=200px"
             alt="gastric_compartments.jpg"/>
        <img class="pancreas" src="/static-img/necropsies/pancreas.jpg" style="height=200px" alt="pancreas.jpg"/>
        <img class="spleen" src="/static-img/necropsies/spleen.jpg" style="height=200px" alt="spleen.jpg"/>
        <img class="mesenteric" src="/static-img/necropsies/mesentericLymphnode.jpg" style="height=200px"
             alt="mesentericLymphnode.jpg"/>
        <img class="lung" src="/static-img/necropsies/lung.jpg" style="height=200px" alt="lung.jpg"/>

        <img class="lowerjawcut" src="/static-img/necropsies/lowerjawcut.jpg" style="height=200px" alt="lowerjawcut.jpg"/>

        <img class="lowerjaw" src="/static-img/necropsies/lowerjaw.jpg" style="height=200px" alt="lowerjaw.jpg"/>

        <img class="thyroid" src="/static-img/necropsies/thyroidThymus1.jpg" style="height=200px" alt="thyroidThymus1.jpg"/>

        <img class="thyroid_thymus" src="/static-img/necropsies/thyroidThymus2.jpg" style="height=200px"
             alt="thyroidThymus2.jpg"/>

        <img class="lateral" src="/static-img/necropsies/lateralview.jpg" style="height=200px" alt="lateralview.jpg"/>

        <img class="netmark" src="/static-img/necropsies/Netmark.jpg" style="height=200px" alt="Netmark.jpg"/>

        <img class="netmark" src="/static-img/necropsies/Netmark2.jpg" style="height=200px" alt="Netmark2.jpg"/>

        <img class="dorsal" src="/static-img/necropsies/dorsal fin.jpg" style="height=200px" alt="dorsal fin.jpg"/>

        <img class="measured" src="/static-img/necropsies/measured.jpg" style="height=200px" alt="measured.jpg"/>

        <img class="blubber" src="/static-img/necropsies/blubberthickness.jpg" style="height=200px"
             alt="blubberthickness.jpg"/>

        <img class="blubber1" src="/static-img/necropsies/blubberthickness2.jpg" style="height=200px"
             alt="blubberthickness2.jpg"/>

        <img class="penis" src="/static-img/necropsies/penis.jpg" style="height=200px" alt="penis.jpg"/>

        <img class="cavities" src="/static-img/necropsies/open the cavities.jpg" style="height=200px"
             alt="open the cavities.jpg"/>

        <img class="extremity" src="/static-img/necropsies/extremity is pulled up.jpg" style="height=200px"
             alt="extremity is pulled up.jpg"/>

        <img class="general" src="/static-img/necropsies/general overview.jpg" style="height=200px"
             alt="general overview.jpg"/>

        <img class="general" src="/static-img/necropsies/general overview2.jpg" style="height=200px"
             alt="general overview2.jpg"/>

        <img class="skull" src="/static-img/necropsies/skull is sawed.jpg" style="height=200px" alt="skull is sawed.jpg"/>

        <img class="cerebral" src="/static-img/necropsies/cerebral hemishere.jpg" style="height=200px"
             alt="cerebral hemishere.jpg"/>

        <img class="dorsally" src="/static-img/necropsies/dorsally.jpg" style="height=200px" alt="dorsally.jpg"/>

        <img class="thoracic" src="/static-img/necropsies/abdominal and thoracic1.jpg" style="height=200px"
             alt="abdominal and thoracic1.jpg"/>

        <img class="thoracic1" src="/static-img/necropsies/abdominal and thoracic2.jpg" style="height=200px"
             alt="abdominal and thoracic2.jpg"/>

        <img class="thoracic" src="/static-img/necropsies/abdominal and thoracic3.jpg" style="height=200px"
             alt="abdominal and thoracic3.jpg"/>

        {#portraits#}
        <img class="fluke" src="/static-img/necropsies/fluke.jpg" style="width=200px" alt="fluke.jpg"/>
        <img class="parasite" src="/static-img/necropsies/presence_of_parasite.jpg" style="width=200px"
             alt="presence_of_parasite.jpg"/>
    </div>
{% endblock %}
