{% extends
'AppBundle::col-layout.html.twig' %} {% block title %}observations and strandings{% endblock %}

{% block mainbar %}
    <h1> Marine mammals in Belgium</h1>

    <p>The <a href='http://www.naturalsciences.be'>Royal Belgian Institute of Natural Sciences (RBINS)</a> is famous for its museum, and the extensive collection of
        whale skeletons. Its <a
                href='http://www.naturalsciences.be/en/science/do/98'>Operational Directorate Natural Environment (OD Nature)</a>, with scientists working in Brussels and Ostend, collects all stranding and sighting records in one database. This website is the interface for this database. Marinemammals.be contains information frm many
        different sources:
        <ul>
        <li>data supplied by the public</li>
        <li>data collected by the RBINS</li>
        <li>data collected via necropsies at the ULg</li>
        <li>and data recorded in literature and historic documents</li>
        </ul> We are working to complete the database with strandings and remarkable sightings before the year 2000.</p>


<blockquote class="belgica"><p>In contrast to common belief, the southern North Sea is home to a number of marine mammals, such as harbour
        porpoises, white-beaked dolphins, and common and grey seals. Also species occurring in the nearby Atlantic
        Ocean and the northern North Sea may frequent our waters, or wander into them. As such in historical times
        strandings and/or observations occurred at the Belgian coast of 19 cetacean and 5 pinniped species.</p></blockquote>

        <h2>Conservation and protection</h2>
    <p>The RBINS is part of an intervention network dealing with the scientific research of stranded and bycaught
        marine mammals. This research focuses on the problems encountered by these animals, such as pollution and
        overfishing, but can also put more light on ecology and life history aspects of the populations. Next to this,
        MUMM investigates effects on marine mammals of human activities at sea, such as the construction of offshore
        windfarms.</p>

    <p>The Institute is the competent authority in the national legislation specifically protecting certain marine mammal
        species (Royal Decree of 21 December 2001). Protecting these magnificent creatures is a commitment, and even an
        obligation of the Belgian authorities in the framework of different international conventions and treaties, such
        as the European Habitats Directive, ASCOBANS and the OSPAR Convention. As protected animals, marine mammals
        cannot be disturbed on purpose, and may not be caught or killed. Stranded or bycaught animals need to be
        notified to the authorities.</p>
{{ include('AppBundle:Bare:index-stranding-help.html.twig') }}
{% endblock %}
{% block sidebar %}
    {{ include('AppBundle:Bare:list-ns-species.html.twig') }}
{% endblock sidebar %}
