{# src/AppBundle/Resources/views/Page/index.html.twig #} {% extends
'AppBundle::col-layout.html.twig' %} {% block title %}Necropsies{% endblock %}
{% block topbar %}
    <h1>Necropsies</h1>
{% endblock %}
{% block mainbar %}
        <p>
        <div class="crop">
            <img src="/static-img/necropsies/CC2.jpg"
                 alt="An external examination"/>
        </div>Strandings of whales and dolphins have always intrigued people and must have occurred
            from the time cetaceans have been
            present in the ocean. Seals, having also a terrestrial behaviour, are well known and perhaps less
            intriguing. Mass stranding can be defined
            as an event where two or more animals run ashore alive at roughly the same place and time. Many
            theories have attempted to explain that phenomenon.
            In most cases, it cannot be attributed to a single cause, but is the result of a complex interaction
            of physical and biological factors such as
            ocean currents, tides and coastal configuration, the animals' migratory and social behavior, food
            availability, echolocation or orientation failure,
            and diseases which have debilitating effects. Necropsies can greatly help in determining the cause of death of the animals. Necropsies are similar to autopsies, but the difference is that autopsies are performed on humans and necropsies on animals.</p>

        <h3>Why necropsy</h3>

        <p>The aim of necropsies is to provide information about
        <ol>
            <li>the cause of death</li>
            <li>the identification of lesions and their potential origin and with that the health status of and the
                mains threats to a population
            </li>
            <li>the collection of samples</li>
        </ol>
        Other investigations from samples collected during necropsy can provide data on biology (reproductive status,
        life history,...),
        physiology and the burden of anthropogenic pollutants on marine mammals.</p>

        <p>It is always best to perform the necropsy as soon as possible after the standings but, in
            practice, this is not always possible. For instance in the case of mass strandings there are too many animals and other solutions have to be found. The best solution is to freeze animals that can be not investigated directly to -20&deg;C.</p>
        <p>Animals that are stranded in Belgium must be reported to the Royal Belgian Institute of Natural Sciences. Dead animals are examined and necropsied by the <a
                    href='http://www.fmv.ulg.ac.be/cms/c_267191/en/department-of-morphology-and-pathology-dmp'>Department of Morphology and Pathology</a> of the Faculty of Veterinary Science of the University of Liège.</p>
{% endblock %}
{% block sidebar %}
    <a class="btn btn-standard" href="{{ path('mm_necropsies_about_detail') }}"><i class="fa fa-bank"></i>Read more on
        necropsies?</a>
{% endblock sidebar %}



