{% extends
'AppBundle::nocol-layout.html.twig' %} {%block title %}Belgian Marine Mammal Tissue Bank{%
endblock %}

{% block main_content %}
<div class="col-lg-6">
    <h2>A marine mammal tissue collection</h2>

    <p>The Belgian Marine Mammal Tissue Bank (BMMTB) was set up in 1990. It originally contained tissue samples from marine mammals washed ashore and bycaught in Belgium. Through a collaboration, since 1995, with stranding networks in neighbouring countries, tissue samples from animals that washed ashore in northern France and in The Netherlands were added. Similar collections exist in the United Kingdom, Ireland and Germany.</p>

    <p>The goal of the BMMTB is to provide high quality tissue samples of marine mammals (small and large cetaceans, as well as pinnipeds) for dedicated research purposes, both in the near and in the distant future. The tissue bank, and the web application you are currently using, can be considered as a tool to facilitate such dedicated research.  This initiative, and similar initiatives in other countries, can allow for more efficient studies of regional and temporal variations in life history, ecology, toxicology and pathology of marine mammals. </p>

    <p>The tissues in the BMMTB were collected, fixed and stored according to protocols established by the European Cetacean Society (ECS); the earlier samples were collected, fixed and stored in a similar way. They are stored at the Royal Belgian Institute of Natural History (RBINS), Brussels and Ostend, and at the University of Liège, Department of Morphology and Pathology. The BMMTB is continuously fed with samples from animals washed ashore in Belgium, northern France and The Netherlands. </p>
</div>
{% endblock %}
