{% extends 'AppBundle::nocol-layout.html.twig' %}
{% block main_content %}
    <div class="col-lg-6">
        {{ include('AppBundle:Bare:add-platforms.html.twig') }}
       </div>
    <div class="col-lg-6">    {{ include('AppBundle:Bare:list-platforms.html.twig') }}</div>
{% endblock %}
