{% form_theme form 'AppBundle::form.html.twig' %}
{% extends 'AppBundle::nocol-layout.html.twig' %}
{% block main_content %}
    <div class="col-lg-6">
        {{ include('AppBundle:Bare:add-observations.html.twig') }}
       </div>
    {% endblock %}
