{% extends 'AppBundle::nocol-layout.html.twig' %}
{% block main_content %}
    <div class="col-lg-10">
        {{ include('AppBundle:Bare:add-observations-specimens.html.twig') }}
    </div>
{% endblock %}
