{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig  #}
{% extends 'AppBundle::list-observations.html.twig' %}
{% set baseparent='bare.html.twig' %}
 {% block title %}Browse observations{% endblock %}
{% block container %}
    <div id="specimen-searcher">
        {% include'AppBundle:Bare:mgmt-list-observed-specimens.html.twig' with {popup: true} %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/js/asyncpost.js' %}
    <script type="application/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

