{% extends 'AppBundle::nocol-layout.html.twig' %} {% block title %}Welcome{% endblock %}

{% block main_content %}
     <h3>Disclaimer and data use policy</h3>

     <p>The data presented on strandings and observations on this site have been gathered by MUMM/RBINS with the
         assistance of many persons and institutes and originate from many sources. These sources include primarily
         instances as the Vogellijn, institutes and organisations such as VLIZ, SeaLife, VOC and web sites such as <a
                 href='www.waarnemingen.be'>www.waarnemingen.be</a>, <a href='www.zeezoogdieren.org'>www.zeezoogdieren.org</a>,
         <a href='www.trektellen.nl'>www.trektellen.nl</a>.
         </p><p>A low number of records are included from outside Belgium,
         in cases where a link with Belgium exists, such as for seals taken to the SeaLife rehabilitation centre at
         Blankenberge, or marine mammals autopsied in collaboration with Belgian scientists. The completeness of the
         data online cannot be guaranteed and the data are subject to change. Please consult BMDC for use in official
         reporting or publications.
     </p>
     <p>There is currently no stranding data present for the period 2010-2014. This data will be imported during
         fall-winter 2015.</p>

     <p>The user explicitly marks his/her consent to our data access rules:</p>

     <ul class='txt_list'>
         <li>Unregistered users can only browse observations. Only limited data is presented and sensitive observations
             are excluded;
         </li>
         <li>Unregistered users should address data requests to <a href='mailto:bmdc@mumm.ac.be'>bmdc@mumm.ac.be</a>;
         </li>
         <li>Upon registration, data access to the biobank can be granted. Registered users can request samples,
             browse all observations and can download basic information on them;
         </li>
         <li>
             Access to our data is granted to individuals; true information must be given when registering and a
             given username and password may not be used by anyone else than the registered person;
         </li>
         <li>
             Our data are covered by intellectual property rights;
         </li>
         <li>
             Data download is only permitted for personal use by granted users;
         </li>
         <li>
             Use of our data for scientific research is permitted, provided any publication making use of these data
             makes explicit reference to their Author and to the source;
         </li>
         <li>
             No publication of our data in any electronic form is allowed without prior explicit agreement with the
             Royal Belgian Institute of Natural Sciences, represented by the Head of the BMDC, and with the Author
             of the data;
         </li>
         <li>
             No direct or indirect commercial use of our data is allowed without prior explicit agreement with the
             Royal Belgian Institute of Natural Sciences, represented by the Head of the BMDC, and with the Author
             of the data;
         </li>
         <li>
             The actions made by the user while accessing our server are monitored in order to provide means to
             backtrack possible misuse of our data.
     </ul>
     <p>
         It is the user's onus to obey these rules. The Belgian State, represented either by the Royal Belgian Institute
         of Natural Sciences or by the Federal Science Policy, reserves the right to take any action, even in court,
         when there is evidence that these rules are infringed.</p>

     <p>For more information, please consult the BMDC Data Policy on
         <a href='http://www.mumm.ac.be/datacentre/Documentation/datapolicy.php'>http://www.mumm.ac.be/datacentre/Documentation/datapolicy.php</a>
         or contact the BMDC <a href='mailto:bmdc@mumm.ac.be'>bmdc@mumm.ac.be</a>.
     </p>
 {% endblock %}
