{% extends 'AppBundle::add-edit-observations-specimens.html.twig' %}
 {% block title %}Edit observation{% endblock %}

{% block main_content %}
    <div class="col-lg-12">
        {{ form(delete_form) }}
        {{ include('AppBundle:Bare:edit-observations-specimens.html.twig') }}
    </div>
{% endblock %}

