{% extends 'AppBundle::add-edit-observations-specimens.html.twig' %}
{% block main_content %}
    <div class="col-lg-12">
        {{ include('AppBundle:Bare:edit-observations-specimens.html.twig') }}
    </div>
{% endblock %}

