{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig  #}
{% extends 'AppBundle::list-samples-add-requests.html.twig' %}
{% set baseparent='AppBundle::col-layout.html.twig' %}

 {% block title %}Browse samples{% endblock %}
{% block sidebar %}
<div id="edit-requests">
    {{ include('AppBundle:Bare:add-edit-requests.html.twig') }}
</div>
{% endblock %}
{% block mainbar %}
    {{ include('AppBundle:Bare:filter-samples.html.twig') }}
{% endblock %}

