{% extends 'AppBundle::nocol-layout.html.twig' %}
 {% block title %}observation{% endblock %}

{% block main_content %}
    <div class="col-lg-12">
        {{ include('AppBundle:Bare:show-observations-specimens.html.twig') }}
    </div>
{% endblock %}

